<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_status_id, 'Service Status' %>
    <%= form.collection_select :service_status_id, ServiceStatus.all, :id, :service_status %>
  </div>

  <div class="field">
    <%= form.label :service_name, 'Service Name' %>
    <%= form.text_field :service_name %>
  </div>

  <div class="field">
    <%= form.label :service_description, 'Service Description' %>
    <%= form.text_field :service_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
