<p id="notice"><%= notice %></p>

<p>
  <strong>Service Status:</strong>
  <%= @service.service_status.service_status %>
</p>

<p>
  <strong>Service Name:</strong>
  <%= @service.service_name %>
</p>

<p>
  <strong>Service Description:</strong>
  <%= @service.service_description %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
