<%= form_with(model: employee_store, local: true) do |form| %>
  <% if employee_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_store.errors.count, "error") %> prohibited this employee_store from being saved:</h2>

      <ul>
        <% employee_store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="employee-store-content">
  <br>
  <h1>Edit Employee Store</h1>
  <p><i>* Indicates Required Fields</i></p>
  <hr>

  <div class="form-group">
    <div class="col-12">
      <%= form.label :employee_id, "Employee: ", class: 'name-label'%>
      <%= form.label :employee_first_name, value: employee_store.employee.emp_first_name, class:'name'%>
      <%= form.label :employee_last_name, value: employee_store.employee.emp_last_name, class:'name'%>
    </div>
  </div>
  <hr>

  <div class="form-column">
    <div class="field form-group col-md-12">
      <%= form.label :store_id, "Store *" %>
      <br>
      <%= form.collection_select :store_id, Store.all, :id, :store_name %>
    </div>

    <div class="field form-group col-md-2">
      <%= form.hidden_field :employee_id, value: employee_store.employee.id%>
    </div>

  </div>
    
  <br>
   <div class = "form-row">
        <div class = "col-12">
        <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
        <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
        </div>
    </div>
  
</div>
<% end %>
