<p id="notice"><%= notice %></p>

<h1>Employee Stores</h1>

<table>
  <thead>
    <tr>
      <th>Store Address</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_stores.each do |employee_store| %>
      <tr>
        <td><%= employee_store.store.store_address %></td>
        <td><%= employee_store.employee.emp_first_name %></td>
        <td><%= link_to 'Show', employee_store %></td>
        <td><%= link_to 'Edit', edit_employee_store_path(employee_store) %></td>
        <td><%= link_to 'Delete', employee_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee Store', new_employee_store_path %>
