<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @employee_store.store.store_address %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee_store.employee.emp_first_name %>
</p>

<%= link_to 'Edit', edit_employee_store_path(@employee_store) %> |
<%= link_to 'Back', employee_stores_path %>
