
<div class="container">

<br>
<hr>
<br>
<div class="row"> 
    <div class="col-lg-6 info-box">
        <h2>Sales Overview</h2>
        <p>
            Today's Sales: <span class="text-primary"> <%= number_to_currency GroomingAppointment.where(:appt_date => Date.today).sum(:appt_total) %></span>
        </p>
    </div> 
    <div class="col-lg-6 info-box">
        <h2>Grooming Overview</h2>
        <p>
        Total Groomings Performed Today: <span class="text-primary"> <%= GroomingAppointment.where(:appt_date => Date.today).count(:id) %></span>
        </p>
    </div>
</div>
<br>
<hr>
<br>


<table id="example" class="table table-hover table-bordered">
		<thead class="thead-dark">
    <tr>
      <th>Customer</th>
      <th>Pet Name</th>
      <th>Appt Date/Time</th>
      <th>Total</th>
  
    </tr>
  </thead>


<%zone = ActiveSupport::TimeZone.new("Central Time (US & Canada)")%>
<%Time.now.in_time_zone(zone)%>

    <br>
    <br>
   <h2>Today's Grooming Appointments</h2>
    <br> 
  <tbody>
    <% @grooming_appointments.each do |grooming_appointment| %>
    <%counter = 0%>
      <tr>
        <% if grooming_appointment.appt_date.strftime("%m/%d/%Y") == Date.current.strftime("%m/%d/%Y") %> 
        <td><%= grooming_appointment.pet.customer.customer_first_name %>
        <%= grooming_appointment.pet.customer.customer_last_name %></td>
        <td><%= grooming_appointment.pet.pet_name %></td>
        <td><%=  grooming_appointment.appt_date.strftime("%b %d %Y")%> <%= grooming_appointment.appt_time.strftime("%I:%M%p")%></td>
        <td><%= number_to_currency(grooming_appointment.appt_total) %></td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<% @array = []
@grooming_appointments.each do |grooming_appointment|
    # @array << grooming_appointment.appt_total.to_i
    # puts grooming_appointment.appt_total.to_i
%>
<%end%>
</div>







