<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div class="container">

<br>
<hr>
<br>
<div class="row"> 
    <div class="col-lg-6 info-box">
        <h2>Sales Overview</h2>
        <p>
            Today's Sales: <span class="text-primary"> <%= number_to_currency GroomingAppointment.where(:appt_date => Date.today).sum(:appt_total) %></span>
        </p>
    </div> 
    <div class="col-lg-6 info-box">
        <h2>Grooming Overview</h2>
        <p>
        Total Groomings Performed Today: <span class="text-primary"> <%= GroomingAppointment.where(:appt_date => Date.today).count(:id) %></span>
        </p>
    </div>
</div>
<br>
<hr>
<br>


<table id="example" class="table table-hover table-bordered">
		<thead class="thead-dark">
    <tr>
      <th>Customer</th>
      <th>Customer Phone</th>
      <th>Pet Name</th>
      <th>Store</th>
      <th>Appt Date/Time</th>
      <th>Total</th>
  
    </tr>
  </thead>


<%zone = ActiveSupport::TimeZone.new("Central Time (US & Canada)")%>
<%Time.now.in_time_zone(zone)%>

    <br>
    <br>
   <h2>Today's Grooming Appointments</h2>
    <br> 
  <tbody>
    <% @appointments_for_today.each do |grooming_appointment| %>
      <tr> 
        <td><%= grooming_appointment.customer %>
        <td><%= grooming_appointment.customer_primary_phone%></td>
        <td><%= grooming_appointment.pet_name %></td>
        <td><%= grooming_appointment.store_name %></td>
        <td><%=  grooming_appointment.appt_date.strftime("%b %d %Y")%> <%= grooming_appointment.appt_time.strftime("%I:%M%p")%></td>
        <td><%= number_to_currency(grooming_appointment.appt_total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>







