

<div class="container">
<br>
<% flash.each do |type, msg| %>
  <div class="success-notice">
    <%= msg %>
  </div>
<% end %>
<br>
<hr>
<br>

<div class="row"> 
    <div class=" info-box dashboard-card">
        <br>
        <br>
        <br>
        <center><h2>Sales Overview</h2>
        <p>
            Today's Sales: <span class="text-primary"> <%= number_to_currency GroomingAppointment.where(:appt_date => Date.today).sum(:appt_total) %></span>
        </p><center>
    </div>
    <div class=" info-box dashboard-card">
    <% @pie_data = [@customers.where(customer_status_id: 1).count, (3000 - @customers.where(customer_status_id: 1).count)]
       @pie_labels = ["Active Customers", "Goal"] %>
       <% active_customers = @customers.where(customer_status_id: 1).count
          goal = (3000 - @customers.where(customer_status_id: 1).count) 
          percentage = (active_customers.to_f/goal.to_f)*100%>
       
    
    <canvas id="servicePieChart" width="400" height="200"></canvas>
    <br>
    <br>
    <script>
    var array = <%= @pie_data.inspect.html_safe %>
    var labels = <%= @pie_labels.inspect.html_safe %>
    var ctx = document.getElementById('servicePieChart').getContext('2d');
    var pieChart = new Chart(ctx, {

        type:'doughnut',
        data: {
            labels: labels,
            datasets: [{
                data: array,
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#ebae34", "#eb345f"]
            }]
        },
      
        
    })
    </script>

     * Percent Complete: <%= '%.0f' % percentage.to_f %> %
    </div>
    <div class=" info-box dashboard-card">
        <br>
        <br>
        <br>
        <center><h2>Grooming Overview</h2>
        <p>
        Total Groomings Performed Today: <span class="text-primary"> <%= GroomingAppointment.where(:appt_date => Date.today).count(:id) %></span>
        </p><center>
    </div>
</div>
<hr>
<br>

<table id="example" class="table table-hover table-bordered">
		<thead class="thead-dark">
    <tr>
      <th>Store</th>
      <th>Appt Time</th>
      <th>Customer</th>
      <th>Customer Phone</th>
      <th>Pet Name</th>
      <th>Total</th>
      <th>Show</th>
  
    </tr>
  </thead>


<%zone = ActiveSupport::TimeZone.new("Central Time (US & Canada)")%>
<%Time.now.in_time_zone(zone)%>

    <br>
    <br>
   <h2>Today's Grooming Appointments</h2>
    <br> 
  <tbody>
    <% @appointments_for_today.each do |grooming_appointment| %>
      <tr> 
        <td><%= grooming_appointment.store_name %></td>
        <td><%= grooming_appointment.appt_time.strftime("%I:%M%p")%></td>
        <td><%= grooming_appointment.customer %>
        <td><%= grooming_appointment.customer_primary_phone%></td>
        <td><%= grooming_appointment.pet_name %></td>
        <td><%= number_to_currency(grooming_appointment.appt_total) %></td>
        <td><%= link_to 'Show', grooming_appointment, class: 'btn btn-block btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>







