<div class="container">
<div class="row"> 
    <div class="col-lg-6 info-box">
        <h2>Sales Overview</h2>
        <p>
            Today's Sales: <span class="text-primary"> <%= number_to_currency @sales_by_day%></span>
        </p>
    </div> 
    <div class="col-lg-6 info-box">
        <h2>Grooming Overview</h2>
        <p>
        Total Groomings Performed Today: <span class="text-primary"> <%= @grooming_per_day%></span>
        </p>
    </div>
</div>
<br>
<br>

<table id="example" class="table table-hover table-bordered">
		<thead class="thead-dark">
    <tr>
      <th>Customer</th>
      <th>Pet Name</th>
      <th>Appt Date</th>
      <th>Total</th>
  
    </tr>
  </thead>

    <br>
    <br>
   <h2>Today's Grooming Appointments</h2>
    <br> 
  <tbody>
    <% @grooming_appointments.each do |grooming_appointment| %>
    <%counter = 0%>
      <tr>
        <% if grooming_appointment.appt_date.strftime("%m/%d/%Y") == DateTime.current.strftime("%m/%d/%Y") %> 
        <td><%= grooming_appointment.pet.customer.customer_first_name %>
        <%= grooming_appointment.pet.customer.customer_last_name %></td>
        <td><%= grooming_appointment.pet.pet_name %></td>
        <td><%=  grooming_appointment.appt_date.strftime("%b %d %Y %I:%M %p ")%></td>
        <td><%= number_to_currency(grooming_appointment.appt_total) %></td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<div>
<%= column_chart GroomingAppointment.group_by_quarter(:appt_date).count %>



</div>

<div id="myDIV" class="header">
  <h2>Reminders</h2>
  <input type="text" id="myInput" placeholder="To-Do...">
  <button type="button" class="btn btn-success"><span onclick="newElement()" class="addBtn">Add</span></button>
</div>

<ul class="list-group" id="myUL">
  
</ul>



</div>
<br>
<br>


<!-- Source: https://www.w3schools.com/howto/howto_js_todolist.asp -->
<script>
var myNodelist = document.getElementsByTagName("li:not([class])");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}

// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}

// Add a "checked" symbol when clicking on a list item
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === "li:not([class])") {
    ev.target.classList.toggle('checked');
  }
}, false);

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
</script>


