<%= form_with(model: grooming_style, local: true) do |form| %>
  <% if grooming_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grooming_style.errors.count, "error") %> prohibited this grooming_style from being saved:</h2>

      <ul>
        <% grooming_style.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :grooming_appointment_id, :value => params[:id]%>
  </div>

  <div class="field">
    <%= form.label :style_id, 'Style' %>
    <%= form.collection_select :style_id, Style.all, :id, :style_name %>
  </div>

  <!--<div class="field">
    <%= form.label :grooming_appointment_id, 'Grooming Appointment' %>
    <%= form.collection_select :grooming_appointment_id, GroomingAppointment.all, :id, :appt_date %>
  </div>-->

  <div class="field">
    <%= form.label :groom_style_notes, 'Groom Style Notes' %>
    <%= form.text_field :groom_style_notes %>
  </div>

  <div class="actions">
  <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
    <%= form.submit 'Create Grooming Style' %>
  </div>
<% end %>
