<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @grooming_style.style.style_name %>
</p>

<p>
  <strong>Grooming Appointment:</strong>
  <%= @grooming_style.grooming_appointment.appt_date %>
</p>

<p>
  <strong>Groom Style Notes:</strong>
  <%= @grooming_style.groom_style_notes %>
</p>

<%= link_to 'Edit', edit_grooming_style_path(@grooming_style) %> |
<%= link_to 'Back', grooming_styles_path %>
