

  <%= form_with(model: customer_status, local: true) do |form| %>
  <% if customer_status.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(customer_status.errors.count, "error") %> prohibited this customer status from being saved:</h4>

      <ul>
        <% customer_status.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-row">
  <div class ="field form-group col-md-6">
    <%= form.label :status, 'Customer Status *' %>
    <%= form.text_field :status, class: 'form-control' %>
  </div>
 </div>
   <div class="form-row">
  <div class ="field form-group col-md-12">
    <%= form.label :definition, 'Status Defintion' %>
    <%= form.text_area :definition, class: 'form-control', rows: '3' %>
  </div>
  </div>

  <div class="form-row">
  <div class="field form-group col-md-12">
      <%= link_to 'Cancel', customer_statuses_path, class: 'btn btn-danger btn-lg float-left'%>
      <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
  </div>
</div>
<% end %>
