<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-11">

      <p>
        <%= link_to 'Update', edit_customer_status_path(@customer_status), class:'btn btn-warning btn-lg float-right mr-2' %>
        <%= link_to 'Back', customer_statuses_path, class: 'btn btn-danger btn-lg float-right mr-2'%>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @customer_status.status %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @customer_status.definition %>
      </p>
    </div>
  </div>
</div>
