<%= form_with(model: employee, local: true) do |form| %>
<% if employee.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

    <ul>
        <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div id="form">
    <br>
    <h1>Edit Employee</h1>
    <br>
    <form>
        <div class="form-row">
            <div class="field form-group col-md-6">
                <%= form.label :emp_hire_date, 'Hire Date' %>
                <%= form.date_select :emp_hire_date %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-2">
                <%= form.label :emp_first_name, 'First Name' %>
                <%= form.text_field :emp_first_name, class: 'form-control' %>
            </div>

            <div class="field form-group col-md-2">
                <%= form.label :emp_last_name, 'Last Name' %>
                <%= form.text_field :emp_last_name, class: 'form-control' %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-2">
                <%= form.label :emp_address, 'Address' %>
                <%= form.text_field :emp_address, class: 'form-control' %>
            </div>

            <div class="field form-group col-md-2">
                <%= form.label :state_id, 'State' %>
                <%= form.collection_select :state_id, State.all, :id, :state_name %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-2">
                <%= form.label :emp_city, 'City' %>
                <%= form.text_field :emp_city, class: 'form-control' %>
            </div>

            <div class="field form-group col-md-2">
                <%= form.label :emp_zip, 'Zip Code' %>
                <%= form.text_field :emp_zip, class: 'form-control' %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-2">
                <%= form.label :emp_primary_phone, 'Primary Phone' %>
                <%= form.text_field :emp_primary_phone, class: 'form-control' %>
            </div>

            <div class="field form-group col-md-2">
                <%= form.label :emp_secondary_phone, 'Secondary Phone' %>
                <%= form.text_field :emp_secondary_phone, class: 'form-control' %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-4">
                <%= form.label :emp_email, 'Email' %>
                <%= form.text_field :emp_email, class: 'form-control' %>
            </div>
        </div>
        <div class="form-row">
            <div class="stores">
                <%= link_to_add_association 'Add Store', form, :employee_stores, class: 'btn btn-success btn-lg float-left mx-auto' %>
            </div>
        </div>
    </form>
    <br>
    <div id="buttons">
        <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
        <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    </div>
</div>
<% end %>