<%= form_with(model: employee, local: true) do |form| %>
<% if employee.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

    <ul>
        <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="content">
    <br>
    <h1>Edit Employee</h1>
    <p><i>* Indicates Required Fields</i></p>
    <hr>

   <div class="form-row">
    <div class=" form-group field col-6">
    <%= form.label :employee_status_id, 'Employee Status *' %>
    <br>
    <%= form.collection_select :employee_status_id, EmployeeStatus.all, :id, :status %>
    </div>
    </div>
    
   <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :emp_hire_date, 'Hire Date *' %>
            <%= form.text_field :emp_hire_date, type: 'date', class: 'form-control col-md-8' %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :emp_first_name, 'First Name *' %>
            <%= form.text_field :emp_first_name, class: 'form-control col-md-8' %>
        </div>

        <div class="field form-group col-md-6">
            <%= form.label :emp_last_name, 'Last Name *' %>
            <%= form.text_field :emp_last_name, class: 'form-control col-md-8' %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :emp_primary_phone, 'Primary Phone *' %>
            <%= form.text_field :emp_primary_phone,type: 'tel', class: 'form-control col-md-8' %>
        </div>

        <div class="field form-group col-md-6">
            <%= form.label :emp_secondary_phone, 'Secondary Phone' %>
            <%= form.text_field :emp_secondary_phone,type: 'tel', class: 'form-control col-md-8' %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :emp_email, 'Email' %>
            <%= form.text_field :emp_email, class: 'form-control col-md-8' %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :emp_address, 'Address' %>
            <%= form.text_field :emp_address, class: 'form-control col-md-10' %>
        </div>

        <div class="field form-group col-md-2">
            <%= form.label :state_id, 'State' %>
            <%= form.collection_select :state_id, State.all, :id, :state_name %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :emp_city, 'City' %>
            <%= form.text_field :emp_city, class: 'form-control col-md-8' %>
        </div>

        <div class="field form-group col-md-3">
            <%= form.label :emp_zip, 'Zip Code' %>
            <%= form.text_field :emp_zip, class: 'form-control col-md-8' %>
        </div>
    </div>

    <hr>
    <h2>Employee Stores</h2>
    <hr>
    <div class="form-row">
     <div class="col-12">
        <div class="employee_stores">
            <%= link_to_add_association 'Add Store', form, :employee_stores, class: 'btn btn-success btn-sm btn-block mx-auto' %>
        </div>
    </div>
    </div>
    <hr>
    <br>
    <br>
    <div class = "form-row">
        <div class = "col-12">
        <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
        <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
        </div>
    </div>
</div>
<% end %>

<script>
$("input[type='tel']").each(function(){
  $(this).on("change keyup paste", function (e) {
    var output,
      $this = $(this),
      input = $this.val();

    if(e.keyCode != 8) {
      input = input.replace(/[^0-9]/g, '');
      var area = input.substr(0, 3);
      var pre = input.substr(3, 3);
      var tel = input.substr(6, 4);
      if (area.length < 3) {
        output =  area;
      } else if (area.length == 3 && pre.length < 3) {
        output =  area + "-" + pre;
      } else if (area.length == 3 && pre.length == 3) {
        output =  area +  "-" + pre + "-" + tel;
      }
      $this.val(output);
    }
  });
});
</script>