<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state_id, 'State' %>
    <%= form.collection_select :state_id, State.all, :id, :state_abbreviation %>
  </div>

  <div class="field">
    <%= form.label :emp_first_name, 'First Name' %>
    <%= form.text_field :emp_first_name %>
  </div>

  <div class="field">
    <%= form.label :emp_last_name, 'Last Name' %>
    <%= form.text_field :emp_last_name %>
  </div>

  <div class="field">
    <%= form.label :emp_primary_phone, 'Primary Phone' %>
    <%= form.text_field :emp_primary_phone %>
  </div>

  <div class="field">
    <%= form.label :emp_secondary_phone, 'Secondary Phone' %>
    <%= form.text_field :emp_secondary_phone %>
  </div>

  <div class="field">
    <%= form.label :emp_email, 'Email' %>
    <%= form.text_field :emp_email %>
  </div>

  <div class="field">
    <%= form.label :emp_hire_date, 'Hire Date' %>
    <%= form.date_select :emp_hire_date %>
  </div>

  <div class="field">
    <%= form.label :emp_address, 'Address' %>
    <%= form.text_field :emp_address %>
  </div>

  <div class="field">
    <%= form.label :emp_city, 'City' %>
    <%= form.text_field :emp_city %>
  </div>

  <div class="field">
    <%= form.label :emp_zip, 'Zip Code' %>
    <%= form.text_field :emp_zip %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
