<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Primary Phone</th>
      <th>Secondary Phone</th>
      <th>Email</th>
      <th>Hire Date</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.state.state_name %></td>
        <td><%= employee.emp_first_name %></td>
        <td><%= employee.emp_last_name %></td>
        <td><%= employee.emp_primary_phone %></td>
        <td><%= employee.emp_secondary_phone %></td>
        <td><%= employee.emp_email %></td>
        <td><%= employee.emp_hire_date %></td>
        <td><%= employee.emp_address %></td>
        <td><%= employee.emp_city %></td>
        <td><%= employee.emp_zip %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
