<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @employee.state.state_abbreviation %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @employee.emp_first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @employee.emp_last_name %>
</p>

<p>
  <strong>Primary Phone:</strong>
  <%= @employee.emp_primary_phone %>
</p>

<p>
  <strong>Secondary Phone:</strong>
  <%= @employee.emp_secondary_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.emp_email %>
</p>

<p>
  <strong>Hire Date:</strong>
  <%= @employee.emp_hire_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.emp_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.emp_city %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @employee.emp_zip %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
