<%= form_with(model: incident_status, local: true) do |form| %>
  <% if incident_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident_status.errors.count, "error") %> prohibited this incident_status from being saved:</h2>

      <ul>
        <% incident_status.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="form">
  <br>
  <h1>New Incident Status</h1>
  <br>
  <div class="form-row">
  <div class ="field form-group col-md-2">
    <%= form.label :status, 'Incident Status *' %>
    <%= form.text_field :status, class: 'form-control' %>
  </div>
 </div>
   <div class="form-row">
  <div class ="field form-group col-md-4">
    <%= form.label :definition, 'Status Defintion' %>
    <%= form.text_area :definition, class: 'form-control' %>
  </div>
  </div>

  <div class="form-row">
  <div class="field form-group col-md-8">
    <div id="buttons">
      <%= link_to 'Cancel', incident_statuses_path, class: 'btn btn-danger btn-lg float-left'%>
      <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    </div>
  </div>
</div>
<% end %>
