

<div class="container">
  <div class="row">
    <div class="col-11">
    <br>
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>

      <p>
        <%= link_to 'Edit', edit_pet_status_path(@pet_status), class:'btn btn-warning btn-lg float-right mr-2' %>
        <%= link_to 'Back', pet_statuses_path, class: 'btn btn-danger btn-lg float-right mr-2'%>
      </p>

      <h1>Pet Status</h1>
      <hr>

      <p>
        <strong>Status:</strong>
        <%= @pet_status.status %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @pet_status.definition %>
      </p>
    </div>
  </div>
</div>