<%= form_with(model: incident, local: true) do |form| %>
  

<div class = 'incident-content'>
  <br>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h4>

      <ul>
        <% incident.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Edit Incident</h1>
  <p><i>* Indicates Required Fields</i></p>
  <hr>

  <div class="form-row">
    <div class="field col-md-12">
      <%= form.label :grooming_appointment_id, 'Appointment Date: ', class: 'name-label' %>
      <%= form.label incident.grooming_appointment.appt_date.strftime("%b %d %Y"), class: 'name'%>
    </div>
  </div>

   <div class="form-row">
    <div class="field col-md-12">
      <%= form.label :appt_time, 'Appointment Time: ', class: 'name-label' %>
      <%= form.label incident.grooming_appointment.appt_time.strftime("%I:%M%p"), class: 'name'%>
    </div>
  </div>

  <div class="form-row">
    <div class="field col-md-12">
      <%= form.label :pet_name, 'Pet Name: ', class: 'name-label' %>
      <%= form.label incident.grooming_appointment.pet.pet_name, class:'name'%>
    </div>
  </div>
  <hr>

  <div class="form-row">
    <div class="field form-group col-md-2">
       <%= form.hidden_field :grooming_appointment_id, value: incident.grooming_appointment.id%>
    </div>
  </div>

  <div class="field form-row">
  <div class="field form-group col-md-12">
    <%= form.label :incident_status, 'Status *' %>
    <br>
    <%= form.collection_select :incident_status_id, IncidentStatus.all, :id, :status%>
   </div> 
   </div>

  <div class="form-row">  
    <div class="field form-group col-md-4">
      <%= form.label :incident_cost, 'Incident Cost' %> 
      <%= form.number_field :incident_cost,:step => "0.01", class: 'form-control'%>
  </div>
   </div>

  <div class="form-row">
    <div class="field form-group col-md-12">
      <%= form.label :incident_notes, 'Incident Notes *' %>
      <%= form.text_area :incident_notes, class: 'form-control', rows: '4' %>
    </div>

  </div>

  <br>
  <div class="form-row">
    <div class="field form-group col-md-12">
        <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
        <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    </div>
  </div>
</div>
<% end %>
