<%= form_with(model: incident, local: true) do |form| %>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
        <% incident.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grooming_appointment_id, 'Grooming Appointment' %>
    <%= form.collection_select :grooming_appointment_id, GroomingAppointment.all, :id, :appt_date %>
  </div>

  <div class="field">
    <%= form.hidden_field :incident_status_id, value: 1%>
  </div>

  <div class="field">
    <%= form.label :incident_notes, 'Incident Notes' %>
    <%= form.text_field :incident_notes %>
  </div>

  <div class="field">
    <%= form.label :incident_cost, 'Incident Cost' %>
    <%= form.text_field :incident_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
