<p id="notice"><%= notice %></p>

<div class="container">
  <br>
  <h1>Incidents</h1>
  <hr>
  <table id="example" class="table table-hover table-bordered">
    <thead class="thead-dark">
      <th>Appointment Date/Time</th>
      <th>Incident Notes</th>
      <th>Incident Cost</th>
      <th>Incident Status</th>
      <th>Show</th>
      <th>Edit</th>
    </thead>
    <tbody>
      <% @incidents.each do |incident| %>
        <tr>
          <td><%= incident.grooming_appointment.appt_date.strftime("%b %d %Y") %> <%= incident.grooming_appointment.appt_time.strftime("%I:%M%p") %></td>
          <td><%= incident.incident_notes %></td>
          <td><%= number_to_currency(incident.incident_cost) %></td>
          <td><%= incident.incident_status.status %></td>
          <td><%= link_to 'Show', incident, class: 'btn btn-primary btn-block' %></td>
          <td><%= link_to 'Edit', edit_incident_path(incident), class: 'btn btn-warning btn-block' %></td>
          <!--<td><%= link_to 'Delete', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<script type="text/javascript">
        var dataTable = $('#example').DataTable();

        $(document).ready(function() {
            dataTable;
        });

        document.addEventListener("turbolinks:before-cache", function() {
            if (dataTable !== null) {
                dataTable.destroy();
                dataTable = null;
            }
        });
</script>