<p id="notice"><%= notice %></p>

<p>
  <strong>Grooming appointment:</strong>
  <%= @incident.grooming_appointment_id %>
</p>

<p>
  <strong>Incident notes:</strong>
  <%= @incident.incident_notes %>
</p>

<p>
  <strong>Incident cost:</strong>
  <%= @incident.incident_cost %>
</p>

<p>
  <strong>Incident cost:</strong>
  <%= @incident.incident_cost %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
