<br>
<div class="container">
     <br>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>

  <div class="row">
    <div class="col-11">

      <%= link_to 'Edit', edit_incident_path(@incident), class:'btn btn-warning btn-lg float-right mr-2' %>
      <%= link_to 'Grooming Appointment', grooming_appointment_path(@incident.grooming_appointment), class:'btn btn-info btn-lg float-right mr-2' %>
      <%= link_to 'All Incidents', incidents_path, class: 'btn btn-secondary btn-lg float-right mr-2'%>

    <h1> Incident Profile </h1>
    <hr>
      <div class = "row">
      <div class = "col-12">
      </div>
        </div>
        <div class="field form-group col-md-4">
        <p>
          <strong>Incident Status:</strong>
          <%= @incident.incident_status.status %>
        </p>
      </div>

      <div class="field form-group col-md-8">
        <p>
          <strong>Customer:</strong>
          <%= @incident.grooming_appointment.pet.customer.customer_first_name %> <%= @incident.grooming_appointment.pet.customer.customer_last_name %>
        </p>
      </div>

      <div class="field form-group col-md-8">
        <p>
          <strong>Pet:</strong>
          <%= @incident.grooming_appointment.pet.pet_name %> 
        </p>
      </div>

      <div class="field form-group col-md-8">
        <p>
          <strong>Appointment Date/Time:</strong>
          <%= @incident.grooming_appointment.appt_date.to_formatted_s(:long) %>, <%= @incident.grooming_appointment.appt_time.strftime("%I:%M%p") %>
        </p>
      </div>

      <div class="field form-group col-md-4">
        <p>
          <strong>Incident Cost:</strong>
          <%= number_to_currency(@incident.incident_cost) %>
        </p>
      </div>

      <div class="field form-group col-md-12">
        <p>
          <strong>Incident Notes:</strong>
          <%= @incident.incident_notes %>
        </p>
      </div>
    </div>
  </div>
</div>