<p id="notice"><%= notice %></p>

<p>
  <strong>Grooming Appointment:</strong>
  <%= @incident.grooming_appointment.appt_date %>
</p>

<p>
  <strong>Incident Notes:</strong>
  <%= @incident.incident_notes %>
</p>

<p>
  <strong>Incident Cost:</strong>
  <%= @incident.incident_cost %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
