<br>
<div class="container">
  <div class="row">
    <div class="col-11">
      <p>
          <%= link_to 'Update', edit_incident_path(@incident), class:'btn btn-warning btn-lg float-right mr-2' %>
          <%= link_to 'Back', incidents_path, class: 'btn btn-danger btn-lg float-right mr-2'%>
      </p>

      <p id="notice"><%= notice %></p>
      <div class="field form-group col-md-8">
        <p>
          <strong>Grooming Appointment:</strong>
          <%= @incident.grooming_appointment.appt_date %>
        </p>
      </div>

      <div class="field form-group col-md-4">
        <p>
          <strong>Incident Status:</strong>
          <%= @incident.incident_status.status %>
        </p>
      </div>

      <div class="field form-group col-md-8">
        <p>
          <strong>Incident Notes:</strong>
          <%= @incident.incident_notes %>
        </p>
      </div>

      <div class="field form-group col-md-4">
        <p>
          <strong>Incident Cost:</strong>
          <%= @incident.incident_cost %>
        </p>
      </div>
    </div>
  </div>
</div>