<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state_id %>
    <%= form.text_field :state_id %>
  </div>

  <div class="field">
    <%= form.label :store_address %>
    <%= form.text_field :store_address %>
  </div>

  <div class="field">
    <%= form.label :store_city %>
    <%= form.text_field :store_city %>
  </div>

  <div class="field">
    <%= form.label :store_zip %>
    <%= form.text_field :store_zip %>
  </div>

  <div class="field">
    <%= form.label :store_phone %>
    <%= form.text_field :store_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
