<%= form_with(model: store, local: true) do |form| %>



<div class="status-content">
   <br>
    <% if store.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

        <ul>
            <% store.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <h1>New Store</h1>
    <i>* Indicates required fields</i>
    <hr>
    <div class="form-row">
        <div class="field form-group col-md-12">
            <%= form.label :store_name, "Store Name *" %>
            <%= form.text_field :store_name, class: 'form-control' %>
        </div>

        <div class="field form-group col-md-12">
            <%= form.label :store_address, "Address *" %>
            <%= form.text_field :store_address, class: 'form-control' %>
        </div>
    </div>
    <div class="form-row">
        <div class="field form-group col-md-8">
            <%= form.label :store_city, "City *" %>
            <%= form.text_field :store_city, class: 'form-control' %>
        </div>

        <div class="field form-group col-md-8">
            <%= form.label :state_id, 'State *' %>
            <br>
            <%= form.collection_select :state_id, State.all, :id, :state_name %>
        </div>
    </div>
    <div class="form-row">
        <div class="field form-group col-md-5">
            <%= form.label :store_zip, "Zip Code *" %>
            <%= form.text_field :store_zip, class: 'form-control' %>
        </div>

        <div class="field form-group col-md-8">
            <%= form.label :store_phone, "Phone *" %>
            <%= form.text_field :store_phone, class: 'form-control' %>
        </div>
    </div>
    <br>
    <div class="field form-group col-md-12">
        <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
        <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    </div>
</div>
<% end %>