<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="form">
<br>
<h1>Editing Pet</h1>
<br>
<div class="form-row">
<div class="field form-group col-md-6">
  <%= form.label :customer_id, 'Customer: ' %>
  <%= form.label :customer_first_name, pet.customer.customer_first_name%>
  <%= form.label :customer_first_name, pet.customer.customer_last_name%>
</div>
</div>

  <!--
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :customer_first_name %>
  </div> -->
<form>
<div class="form-row">
  <div class="field form-group col-md-4">
    <%= form.label :status, 'Status' %>
    <%= form.collection_select :pet_status_id, PetStatus.all, :id, :definition, class: 'form-control' %>
  </div>
</div>

<div class="form-row">
    <div class="field form-group col-md-4">
        <%= form.label :pet_birthdate, 'Pet Birthdate' %>
        <%= form.text_field :pet_birthdate, type: 'date', class: 'form-control' %>
    </div>
</div>

<div class="form-row">
        <div class="field form-group col-md-3">
            <%= form.label :spayed_neutered, 'Spayed/Neutered' %>
            <%= form.select :spayed_neutered, ['Y', 'N'], class: 'form-control' %>
        </div>

        <div class="field form-group col-md">
            <%= form.label :pet_treat, 'Pet Treat' %>
            <%= form.select :pet_treat, ['Y', 'N'], class: 'form-control' %>
        </div>
  </div>
<div class="form-row">
        <div class="field form-group col-md-2">
            <%= form.label :pet_gender, 'Pet Gender' %>
            <%= form.select :pet_gender, ['M', 'F'], class: 'form-control' %>
        </div>
</div>

  <div class="form-row">
        <div class="field form-group col-md-2">
            <%= form.label :pet_name, 'Pet Name' %>
            <%= form.text_field :pet_name, class: 'form-control' %>
        </div>
        <div class="field form-group col-md-2">
            <%= form.label :pet_breed, 'Pet Breed' %>
            <%= form.text_field :pet_breed, class: 'form-control' %>
      </div>
  </div>

  <div class="form-row">
        <div class="field form-group col-md-2">
            <%= form.label :vet_name, 'Vet Name' %>
            <%= form.text_field :vet_name, class: 'form-control' %>
        </div>

        <div class="field form-group col-md-2">
            <%= form.label :vet_phone, 'Vet Phone' %>
            <%= form.text_field :vet_phone, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-2">
            <%= form.label :pet_color, 'Color' %>
            <%= form.text_field :pet_color, class: 'form-control' %>
        </div>

        <div class="field form-group col-md-2">
            <%= form.label :pet_weight, 'Weight' %>
            <%= form.text_field :pet_weight, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :pet_allergies, 'Pet Allergies' %>
            <%= form.text_area :pet_allergies, class: 'form-control' %>
        </div>

        
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :pet_medical_issues, 'Medical Issues' %>
            <%= form.text_area :pet_medical_issues, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row">
    <div class="field form-group col-md-6">
            <%= form.label :pet_notes, 'Pet Notes'%>
            <%= form.text_area :pet_notes, class: 'form-control' %>
        </div>
    </div>

  <%= form.fields_for :pet_photos do |builder| %>
    <%= render "pet_photo_fields", :f => builder %>
  <% end %>
<br>
  <h2>Vaccines</h2>
    <div id="pet_vaccinations">
        <%= form.fields_for :pet_vaccinations do |pet_vaccination| %>
          <%= render "pet_vaccination_fields", f: pet_vaccination %>
        <% end %> 
    </div>

  <div class="form-row">
  <div class="pet_vaccines field form-group">
    <%= link_to_add_association 'Add Vaccine', form, :pet_vaccinations, class: 'btn btn-success btn-lg float-left mx-auto'  %>
  </div>
  </div>

   <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
<% end %>
