<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Passes customer_id as its own parameter to the controller -->
  <%= hidden_field_tag :customer_id, @customer_id %>


<div class="content">
<br>
<h3>New Pet</h3>
<br>
<hr>
<div class="field">
  <%= form.hidden_field :customer_id, :value => params[:customer_id] %>
  <%= form.label :customer_id, 'Customer: ', class: 'name-label' %>
  <%= form.label :customer_first_name, :value => @customer_first_name, class: 'name'%>
  <%= form.label :customer_last_name, :value => @customer_last_name, class: 'name'%>
</div>
<br>
<hr>
<div class="form-row">
        
</div>

  <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :pet_name, 'Pet Name *' %>
            <%= form.text_field :pet_name, class: 'form-control col-md-8' %>
        </div>

        <div class="field">
            <%= form.hidden_field :pet_status_id, value: 1 %>
       </div>

        <div class="field form-group col-md-6">
            <%= form.label :pet_breed, 'Breed *' %>
            <%= form.text_field :pet_breed, class: 'form-control col-md-8' %>
      </div>
    </div>

      <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :pet_color, 'Color *' %>
            <%= form.text_field :pet_color, class: 'form-control col-md-8' %>
        </div>

        <div class="field form-group col-md-6">
            <%= form.label :pet_weight, 'Weight *' %>
            <%= form.text_field :pet_weight, class: 'form-control col-md-8' %>
        </div>
    </div>

    <br>

    <div class="form-row col-md-12">
        <div class="field form-group col-md-4">
            <%= form.label :spayed_neutered, 'Spayed/Neutered *' %>
            <br>
            <%= form.select :spayed_neutered, ['Y', 'N'], class: 'form-control' %>
        </div>

        <div class="field form-group col-md-4">
            <%= form.label :pet_treat, 'Pet Treat *' %>
            <%= form.select :pet_treat, ['Y', 'N'], class: 'form-control' %>
        </div>

        <div class="field form-group col-md-4">
            <%= form.label :pet_gender, 'Pet Gender *' %>
            <br>
            <%= form.select :pet_gender, ['M', 'F'], class: 'form-control' %>
        </div>
    </div>

    <br>
    
    <div class="form-row">
    <div class="field form-group col-md-6">
        <%= form.label :pet_birthdate, 'Pet Birthdate' %>
        <%= form.text_field :pet_birthdate, type: 'date', class: 'form-control col-md-8' %>
        <!--<%= form.date_select :pet_birthdate, :start_year=>2000, class: 'form-control' %>-->
    </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :vet_name, 'Vet Name' %>
            <%= form.text_field :vet_name, class: 'form-control col-md-8' %>
        </div>

        <div class="field form-group col-md-6">
            <%= form.label :vet_phone, 'Vet Phone' %>
            <%= form.text_field :vet_phone, class: 'form-control col-md-8' %>
        </div>
    </div>


    <div class="form-row">
        <div class="field form-group col-md-12">
            <%= form.label :pet_allergies, 'Pet Allergies' %>
            <%= form.text_area :pet_allergies, class: 'form-control' %>
        </div>

        
    </div>

    <div class="form-row">
        <div class="field form-group col-md-12">
            <%= form.label :pet_medical_issues, 'Medical Issues' %>
            <%= form.text_area :pet_medical_issues, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row">
    <div class="field form-group col-md-12">
            <%= form.label :pet_notes, 'Pet Notes'%>
            <%= form.text_area :pet_notes, class: 'form-control' %>
        </div>
    </div>
    

    <br>
    <div class = "form-row">
        <div class="form-group col-md-12">
            <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
            <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
        </div>
    </div>

    </div>
<% end %>
