<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="form" >
<br>
<h1>New Pet</h1>
<br>
<div class="field form-group">
  <%= form.label :customer_id, 'Customer: ' %>
  <%= form.hidden_field :customer_id, :value => params[:id] %>
  <%= form.label :customer_first_name, :value => params[:customer_first_name]%>
  <%= form.label :customer_last_name, :value => params[:customer_last_name]%>
 <!--<%= form.select :customer_id, options_from_collection_for_select( Customer.order(:customer_first_name).all, "id", "customer_first_name", params[:id]), disabled: true %>-->
</div>

  <!--
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select :customer_id, Customer.all, :id, :customer_first_name %>
  </div> -->

  <div class="field">
      <%= form.hidden_field :pet_status_id, value: 1 %>
    </div>

<form>
<div class="form-row">
    <div class="field form-group col-md-4">
        <%= form.label :pet_birthdate, 'Pet Birthdate' %>
        <%= form.date_select :pet_birthdate, class: 'form-control' %>
    </div>
</div>

<div class="form-row">
        <div class="field form-group col-md-3">
            <%= form.label :spayed_neutered, 'Spayed/Neutered' %>
            <%= form.select :spayed_neutered, ['Y', 'N'], class: 'form-control' %>
        </div>

        <div class="field form-group col-md">
            <%= form.label :pet_treat, 'Pet Treat' %>
            <%= form.select :pet_treat, ['Y', 'N'], class: 'form-control' %>
        </div>
  </div>
<div class="form-row">
        <div class="field form-group col-md-2">
            <%= form.label :pet_gender, 'Pet Gender' %>
            <%= form.select :pet_gender, ['M', 'F'], class: 'form-control' %>
        </div>
</div>

  <div class="form-row">
        <div class="field form-group col-md-2">
            <%= form.label :pet_name, 'Pet Name' %>
            <%= form.text_field :pet_name, class: 'form-control' %>
        </div>
        <div class="field form-group col-md-2">
            <%= form.label :pet_breed, 'Pet Breed' %>
            <%= form.text_field :pet_breed, class: 'form-control' %>
      </div>
  </div>

  <div class="form-row">
        <div class="field form-group col-md-2">
            <%= form.label :vet_name, 'Vet Name' %>
            <%= form.text_field :vet_name, class: 'form-control' %>
        </div>

        <div class="field form-group col-md-2">
            <%= form.label :vet_phone, 'Vet Phone' %>
            <%= form.text_field :vet_phone, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-2">
            <%= form.label :pet_color, 'Color' %>
            <%= form.text_field :pet_color, class: 'form-control' %>
        </div>

        <div class="field form-group col-md-2">
            <%= form.label :pet_weight, 'Weight' %>
            <%= form.text_field :pet_weight, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :pet_allergies, 'Pet Allergies' %>
            <%= form.text_area :pet_allergies, class: 'form-control' %>
        </div>

        
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= form.label :pet_medical_issues, 'Medical Issues' %>
            <%= form.text_area :pet_medical_issues, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row">
    <div class="field form-group col-md-6">
            <%= form.label :pet_notes, 'Pet Notes'%>
            <%= form.text_area :pet_notes, class: 'form-control' %>
        </div>
    </div>

  
  <div class="form-row">
  <%= form.fields_for :pet_photos do |builder| %>
    <%= render "pet_photo_fields", :f => builder %>
  <% end %>
  </div>

  <div class="form-row">
  <div class="pet_vaccines field form-group">
    <%= link_to_add_association 'Add Vaccine', form, :pet_vaccinations, class: 'btn btn-success btn-lg float-left mx-auto'  %>
  </div>
  </div>

   <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>

  <div class="actions">
    <%= form.submit %>
  </div>

</form>

<% end %>
