<div class="nested-fields">

    <div class="field">
        <%= f.label :photo_type_id %>
        <%= f.text_field :photo_type_id %>
    </div>

    <div class="field">
        <%= f.label :"Profile Photo" %>
        <%= f.file_field :image, direct_upload: true, accept: "image/png,image/gif,image/jpeg"%>
    </div>

     <div class="field">
        <%= f.label :photo_description %>
        <%= f.text_field :photo_description %>
    </div>

</div>