<div class="nested-fields">

    <div class="field">
        <%= f.hidden_field :photo_type_id, value: 1 %>
    </div>

    <div class="field">
        <%= f.label :"Profile Photo" %>
        <%= f.file_field :image, direct_upload: true, accept: "image/png,image/gif,image/jpeg"%>
    </div>
</div>

<div class="form-row">
    <div class="field form-group col-md-3">
        <%= f.label :photo_type_id %>
        <%= f.text_field :photo_type_id, class: 'form-control' %>
    </div>

     <div class="field form-group col-md-3">
        <%= f.label :photo_description %>
        <%= f.text_field :photo_description, class: 'form-control' %>
    </div>
</div>

</div>