<div class="nested-fields">
<h5>Add Vaccine</h5>
 
 <div class="form-row">
    <div class="field form-group col-md-4">
        <%= f.label :vaccine_id %>
        <%= f.collection_select :vaccine_id, Vaccine.all, :id, :vaccine_name, class: 'form-control' %>
    </div>
</div>

 <div class="form-row">
    <div class="field form-group col-md-5">
        <%= f.label :date_given %>
        <%= f.text_field :date_given, type: 'date', class: 'form-control' %>
    </div>
</div> 

<div class="form-row">
    <div class="field form-group col-md-5">
        <%= f.label :date_expire %>
        <%= f.text_field :date_expire, type: 'date', class: 'form-control' %>
    </div>
</div>

<div class = "form-row">
    <div class ="field form-group">
    <%= link_to_remove_association "Remove Vaccine", f, class: 'btn btn-secondary btn-sm float-left mx-auto' %>
    </div>
</div>