<div class="nested-fields">

    <div class="field">
        <%= f.label :vaccine_id %>
        <%= f.collection_select :vaccine_id, Vaccine.all, :id, :vaccine_name %>
    </div>

    <div class="field">
        <%= f.label :date_given %>
        <%= f.date_select :date_given %>
    </div>

    <div class="field">
        <%= f.label :date_expire %>
        <%= f.date_select :date_expire %>
    </div>

    <%= link_to_remove_association "Remove Vaccine", f %>
</div>