<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Pet name</th>
      <th>Pet gender</th>
      <th>Pet birthdate</th>
      <th>Pet allergies</th>
      <th>Spayed neutered</th>
      <th>Pet treat</th>
      <th>Vet name</th>
      <th>Vet phone</th>
      <th>Pet medical issues</th>
      <th>Pet notes</th>
      <th>Pet color</th>
      <th>Pet breed</th>
      <th>Pet weight</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>

        <td><%= pet.customer.customer_first_name %></td>
        <td><%= pet.pet_name %></td>
        <td><%= pet.pet_gender %></td>
        <td><%= pet.pet_birthdate.to_formatted_s(:long) %></td>
        <td><%= pet.pet_allergies %></td>
        <td><%= pet.spayed_neutered %></td>
        <td><%= pet.pet_treat %></td>
        <td><%= pet.vet_name %></td>
        <td><%= pet.vet_phone %></td>
        <td><%= pet.pet_medical_issues %></td>
        <td><%= pet.pet_notes %></td>
        <td><%= pet.pet_color %></td>
        <td><%= pet.pet_breed %></td>
        <td><%= pet.pet_weight %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
