<p id="notice"><%= notice %></p>

<div class="container">
<h1>Pets</h1>
<br>
  <table id="pets" class="table table-hover table-bordered">
		<thead class="thead-dark">
      <th>Customer</th>
      <th>Pet Name</th>
      <th>Pet Gender</th>
      <th>Pet Birthdate</th>
      <th>Pet Allergies</th>
      <th>Spayed/Neutered</th>
      <th>Pet Treats?</th>
      <th>Vet Name</th>
      <th>Vet Phone</th>
      <th>Pet Medical Issues</th>
      <th>Pet Notes</th>
      <th>Pet Color</th>
      <th>Pet Breed</th>
      <th>Pet Weight</th>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.customer.customer_first_name %></td>
        <td><%= pet.pet_name %></td>
        <td><%= pet.pet_gender %></td>
        <td><%= pet.pet_birthdate.to_formatted_s(:long) %></td>
        <td><%= pet.pet_allergies %></td>
        <td><%= pet.spayed_neutered %></td>
        <td><%= pet.pet_treat %></td>
        <td><%= pet.vet_name %></td>
        <td><%= pet.vet_phone %></td>
        <td><%= pet.pet_medical_issues %></td>
        <td><%= pet.pet_notes %></td>
        <td><%= pet.pet_color %></td>
        <td><%= pet.pet_breed %></td>
        <td><%= pet.pet_weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>