<p id="notice"><%= notice %></p>

<div class = "container">
<br>
<h1> Pet Profile </h2>
<hr>
<%= link_to 'Edit', edit_pet_path(@pet), class: 'btn btn-warning btn-lg float-right mr-2' %> 
<p><%= link_to 'Back', @pet.customer, class: 'btn btn-danger btn-lg float-right mr-2' %>
</p>


<div class="row">
<div class ="col">
<p>
  <strong>Customer:</strong>
  <%= @pet.customer.customer_first_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pet.pet_status.definition %>
</p>

<p>
  <strong>Pet name:</strong>
  <%= @pet.pet_name %>
</p>

<p>
  <strong>Pet gender:</strong>
  <%= @pet.pet_gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%if @pet.pet_birthdate.nil?%>
  <%= @pet.pet_birthdate%>
  <%else%>
  <%= @pet.pet_birthdate.to_formatted_s(:long) %>
  <%end%> 
</p>

<p>
  <strong>Allergies:</strong>
  <%= @pet.pet_allergies %>
</p>

<p>
  <strong>Spayed/Neutered:</strong>
  <%= @pet.spayed_neutered %>
</p>

<p>
  <strong>Treats:</strong>
  <%= @pet.pet_treat %>
</p>

<p>
  <strong>Vet Name:</strong>
  <%= @pet.vet_name %>
</p>

<p>
  <strong>Vet Phone:</strong>
  <%= @pet.vet_phone %>
</p>

<p>
  <strong>Medical Issues:</strong>
  <%= @pet.pet_medical_issues %>
</p>

<p>
  <strong>Pet Notes:</strong>
  <%= @pet.pet_notes %>
</p>

<p>
  <strong>Pet Color:</strong>
  <%= @pet.pet_color %>
</p>

<p>
  <strong>Pet Breed:</strong>
  <%= @pet.pet_breed %>
</p>

<p>
  <strong>Pet Weight:</strong>
  <%= @pet.pet_weight %>
</p>
</div>

<!-- Shows the profile photos for each pet -->
<!--<div>
<%@pet.pet_photos.each do |photo|
   if photo.photo_type_id == 1 %>
    <%= image_tag photo.image.variant(resize:"400x400") if photo.image.attached? %>
    <%end%>
<%end%>-->

<!-- Styling for Pet Profile Photo-->
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

  div.center {
  padding: 15px;
  text-align: center;
  }

</style>

<br>
<!-- Check if Profile Photo Exists-->
<%count = 0%>
<%@pet.pet_photos.each do |photo|%>
   <% if photo.photo_type_id == 1%>
  <% count +=1 %>
<%end%>
<%end%>

<!-- Only show new button if no profile photo exists-->
<div class="col">
<h3>Pet Profile Photo</h3>
 <%if count == 0%>
<%=link_to 'New Pet Profile Photo', new_pet_photo_path({:photo_type_id => 1, 
                                            :customer_first_name => @pet.customer.customer_first_name,
                                            :customer_last_name => @pet.customer.customer_last_name,
                                            :pet_name=> @pet.pet_name,
                                            :pet_id => @pet.id}),
                                              class: 'btn btn-success', style: 'margin-top:10px'%>
 <%end%>

<!-- Show Existing Pet Profile Photo -->
  <%@pet.pet_photos.each do |photo|%>
   <% if photo.photo_type_id == 1 && photo.image.attached? %>
   <div class="gallery">
    <%= image_tag photo.image.variant(resize:"400x400") if photo.image.attached? %>
    <div class="center">
    <%= link_to 'Show', photo%> |
    <%= link_to 'Edit', edit_pet_photo_path(photo)%>
    </div>
    </div>
    <%end%>
  <%end%>
  </div>
  </div>


<br>
<hr>
<h2>Vaccinations</h2>
<hr>
<div class="container">
<%= link_to "Add Vaccination", 
new_pet_vaccination_path({:pet_id => @pet.id, 
:pet_name => @pet.pet_name}), 
:class => "btn btn-success float-right mt-4" %>
<table id="example" class="table table-striped table-bordered">
		<thead>
      <th>Vaccine</th>
      <th>Date Given</th>
      <th>Date Expired</th>
      <th>Update</th>
		</thead>
		<tbody>
     <% @pet.pet_vaccinations.each do |pet_vaccinations| %>
			<tr>
				<td><%= pet_vaccinations.vaccine.vaccine_name %></td>
        <td><%= pet_vaccinations.date_given %></td>
        <td><%= pet_vaccinations.date_expire %></td>
        <td><%= link_to "Update", edit_pet_vaccination_path(pet_vaccinations), 
        :class => "btn btn-warning btn-block" %></td>
			</tr>
       <% end %>
		</tbody>
	</table>
  

  <br>
  <hr>
  <h2>Grooming Appointments</h2>
  <hr>
<%= link_to "New Appointment", new_pet_grooming_appointment_path(:pet_id => @pet.id, :pet_name => @pet.pet_name, 
        :customer_last_name => @pet.customer.customer_last_name, :customer_first_name => @pet.customer.customer_first_name), 
        :class => "btn btn-success float-right mt-4" %>
  
  <table id="example2" class="table table-striped table-bordered">
		<thead>
      <th>Date</th>
      <th>Services</th>
      <th>Blades</th>
      <th>Total</th>
      <th>Show</th>
		</thead>
	<tbody>
     <% @pet.grooming_appointments.each do |grooming_appointment| %>
			<tr>
				<td><%= grooming_appointment.appt_date.to_formatted_s(:long) %></td>
        <td><% grooming_appointment.grooming_services.each_with_index do |grooming_service, index| %>
            <%if index == (grooming_appointment.grooming_services.length - 1) then %>
            <%= grooming_service.service.service_name%> 
            <%else%>
            <%= grooming_service.service.service_name%> ,
            <%end%>
          <%end%></td>
        <td><%= grooming_appointment.appt_blades %></td>
        <td><%= number_to_currency(grooming_appointment.appt_total) %></td>
        <td><%= link_to 'Show', grooming_appointment, class: 'btn btn-block btn-primary' %></td>
			</tr>
       <% end %>
		</tbody>
	</table>
  </div>
  </div>

<!-- For First Table-->
  <script type="text/javascript">
  var dataTable = $('#example').DataTable();

  $(document).ready(function() {
   dataTable;
  });
  
  document.addEventListener("turbolinks:before-cache", function() {
    if (dataTable !== null) {
    dataTable.destroy();  
    dataTable = null;
    }
  });
</script>

<!-- For Second Table-->
<script type="text/javascript">
  var dataTable2 = $('#example2').DataTable();

  $(document).ready(function() {
   dataTable2;
  });
  
  document.addEventListener("turbolinks:before-cache", function() {
    if (dataTable2 !== null) {
    dataTable2.destroy();  
    dataTable2 = null;
    }
  });
</script>