<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @pet.customer.customer_first_name %>
</p>

<p>
  <strong>Pet name:</strong>
  <%= @pet.pet_name %>
</p>

<p>
  <strong>Pet gender:</strong>
  <%= @pet.pet_gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.pet_birthdate %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @pet.pet_allergies %>
</p>

<p>
  <strong>Spayed/Neutered:</strong>
  <%= @pet.spayed_neutered %>
</p>

<p>
  <strong>Treats:</strong>
  <%= @pet.pet_treat %>
</p>

<p>
  <strong>Vet Name:</strong>
  <%= @pet.vet_name %>
</p>

<p>
  <strong>Vet Phone:</strong>
  <%= @pet.vet_phone %>
</p>

<p>
  <strong>Medical Issues:</strong>
  <%= @pet.pet_medical_issues %>
</p>

<p>
  <strong>Pet Notes:</strong>
  <%= @pet.pet_notes %>
</p>

<p>
  <strong>Pet Color:</strong>
  <%= @pet.pet_color %>
</p>

<p>
  <strong>Pet Weight:</strong>
  <%= @pet.pet_weight %>
</p>

<!-- Shows the profile photos for each pet -->
<div>
<%@pet.pet_photos.each do |photo|
   if photo.photo_type_id == 1 %>
    <%= image_tag photo.image.variant(resize:"400x400") if photo.image.attached? %>
    <%end%>
<%end%>
</div>



<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
