<%= form_with(model: pet_photo, local: true) do |form| %>
  <% if pet_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet_photo.errors.count, "error") %> prohibited this pet_photo from being saved:</h2>

      <ul>
        <% pet_photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class ="container">
<div class = "col-6">
  <div class="field">
  <%= form.hidden_field :photo_type_id, :value => @pet_photo.photo_type_id %>
  </div>

  <div class="field">
    <%= form.label :pet_id, 'Customer: '%>
    <%= form.label :pet_id, @pet_photo.pet.customer.customer_first_name%>
    <%= form.label :pet_id, @pet_photo.pet.customer.customer_last_name%>
    <!--<%= form.collection_select :pet_id, Pet.all, :id, :pet_name %>-->
  </div>

  <div class="field">
    <%= form.label :pet_id, 'Pet: '%>
    <%= form.label :pet_id, value: @pet_photo.pet.pet_name%>
    <!--<%= form.collection_select :pet_id, Pet.all, :id, :pet_name %>-->
  </div>

  <!--<div class="field">
    <%= form.label :photo_type_id, 'Photo Type' %>
    <%= form.collection_select :photo_type_id, PhotoType.all, :id, :photo_type %>
  </div>-->

  <div class="field">
    <%= form.hidden_field :grooming_appointment_id, value: @pet_photo.grooming_appointment_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :photo_description, "Photo Description" %>
    <%= form.text_area :photo_description, class: 'form-control' %>
  </div>

 <br>
    <div id="buttons">
    <a class="btn btn-danger btn-lg " href="/grooming_appointments" role="button">Cancel</a>
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    <div>

<% end %>

</div>
</div>
