<%= form_with(model: pet_photo, local: true) do |form| %>
  <% if pet_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet_photo.errors.count, "error") %> prohibited this pet_photo from being saved:</h2>

      <ul>
        <% pet_photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class ="content">

<h1>Update Pet Photo</h1>
<hr>

  <div class="field">
  <%= form.hidden_field :photo_type_id, :value => @pet_photo.photo_type_id %>
  </div>

  <div class="field">
    <%= form.label :pet_id, 'Customer: ', class: 'name-label'%>
    <%= form.label :pet_id, @pet_photo.pet.customer.customer_first_name, class: 'name'%>
    <%= form.label :pet_id, @pet_photo.pet.customer.customer_last_name, class: 'name'%>
  </div>

  <div class="field">
    <%= form.label :pet_id, 'Pet: ', class: 'name-label'%>
    <%= form.label :pet_id, value: @pet_photo.pet.pet_name, class: 'name'%>
  </div>

  <hr>

  <div class="field">
    <%= form.hidden_field :grooming_appointment_id, value: @pet_photo.grooming_appointment_id %>
  </div>

  <div class ="row">
  <div class="col-12">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control'%>
  </div>
</div>

<br>

  <div class="field">
    <%= form.label :photo_description, "Photo Description" %>
    <%= form.text_area :photo_description, class: 'form-control',rows: '4' %>
  </div>


 <br>
    <div id="buttons">
    <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    <div>

<% end %>

</div>
</div>
