<%= form_with(model: pet_photo, local: true) do |form| %>
  <% if pet_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet_photo.errors.count, "error") %> prohibited this pet_photo from being saved:</h2>

      <ul>
        <% pet_photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class ="container">
<div class = "col-6">
  <div class="field">
  <%= form.hidden_field :photo_type_id, :value => params[:photo_type_id] %>
  </div>

  <div class="field">
    <%= form.label :customer_id, 'Customer: '%>
    <%= form.label :customer_first_name, params[:customer_first_name]%>
    <%= form.label :customer_last_name, params[:customer_last_name]%>
  </div>

  <div class="field">
    <%= form.label :pet_id, 'Pet: '%>
    <%= form.label :pet_name, params[:pet_name]%>
    <%= form.hidden_field :pet_id, :value => params[:pet_id]%>
  </div>

  <!--<div class="field">
    <%= form.label :photo_type_id, 'Photo Type' %>
    <%= form.collection_select :photo_type_id, PhotoType.all, :id, :photo_type %>
  </div>-->

  <div class="field">
    <%= form.hidden_field :grooming_appointment_id, :value => params[:grooming_appointment_id] %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :photo_description, "Photo Description" %>
    <%= form.text_area :photo_description, class: 'form-control' %>
  </div>

 <br>
    <div id="buttons">
    <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
    <button type="submit", redirect_to(:back), class="btn btn-primary btn-lg float-right ">Submit</button>
    <div>

<% end %>

</div>
</div>
