<%= form_with(model: pet_photo, local: true) do |form| %>
 

<div class ="content">
 <% if pet_photo.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(pet_photo.errors.count, "error") %> prohibited this pet photo from being saved:</h4>

      <ul>
        <% pet_photo.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h1>New Pet Photo</h1>
<p><i>* Indicates Required Fields</i></p>
<hr>

  <div class="field">
  <%= form.hidden_field :photo_type_id, :value => params[:photo_type_id] %>
  </div>

<div class ="row">
  <div class="col-12">
    <%= form.label :customer_id, 'Customer: ', class: 'name-label'%>
    <%= form.label :customer_first_name, @customer_first_name, class: 'name'%>
    <%= form.label :customer_last_name, @customer_last_name, class: 'name'%>
  </div>
  </div>

<div class ="row">
  <div class="col-12">
    <%= form.label :pet_id, 'Pet: ', class: 'name-label'%>
    <%= form.label :pet_name, @pet_name, class: 'name'%>
    <%= form.hidden_field :pet_id, :value => params[:pet_id]%>
  </div>
</div>
<hr>

  <!--<div class="field">
    <%= form.label :photo_type_id, 'Photo Type' %>
    <%= form.collection_select :photo_type_id, PhotoType.all, :id, :photo_type %>
  </div>-->

  <%= hidden_field_tag :grooming_appointment_id, @grooming_appointment_id %>
  <%= hidden_field_tag :pet_id, @pet_id %>
  <%= hidden_field_tag :photo_type_id, @photo_type_id %>
  
  <div class="field">
    <%= form.hidden_field :grooming_appointment_id, :value => params[:grooming_appointment_id] %>
  </div>

<div class ="row">
  <div class="col-12">
    <%= form.label :image, "Image *" %>
    <%= form.file_field :image, class: 'form-control'%>
  </div>
</div>

<br>

  <div class="field">
    <%= form.label :photo_description, "Photo Description" %>
    <%= form.text_area :photo_description, class: 'form-control',rows: '4' %>
  </div>

 <br>
    <div class="field">
    <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
    <button type="submit", redirect_to(:back), class="btn btn-primary btn-lg float-right ">Submit</button>
    <div>

<% end %>


</div>
