<p id="notice"><%= notice %></p>

Test
<%= image_tag(@pet_photo.image) %>

<div><%=@pet_photo.image%></div>

<p>
  <strong>Pet:</strong>
  <%= @pet_photo.pet.pet_name %>
</p>

<p>
  <strong>Photo Type:</strong>
  <%= @pet_photo.photo_type.photo_type %>
</p>


<p>
  <strong>Photo Link:</strong>
  <%= @pet_photo.photo_link %>
</p>

<p>
  <strong>Photo Description:</strong>
  <%= @pet_photo.photo_description %>
</p>

<%= link_to 'Edit', edit_pet_photo_path(@pet_photo) %> |
<%= link_to 'Back', pet_photos_path %>
