<%= form_with(model: photo_type, local: true) do |form| %>
  <% if photo_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_type.errors.count, "error") %> prohibited this photo_type from being saved:</h2>

      <ul>
        <% photo_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group col-md-4">
    <%= form.label :photo_type, 'Photo Types *' %>
    <%= form.text_field :photo_type, class: 'form-control' %>
  </div>

<div class="field form-group col-md-4">
  <div class="actions">
    <%= link_to 'Back', photo_types_path, class: 'btn btn-danger' %>
    <%= form.submit 'Create Photo Type', class: 'btn btn-success' %>
  </div>
</div>
<% end %>
