<p id="notice"><%= notice %></p>
<br>
<div class="container col-8">
<h1>Photo Types</h1>
<%= link_to 'New Photo Type', new_photo_type_path, class: 'btn btn-success float-right mt-4', style: 'margin-bottom: 10px' %>

<table id="example" class="table table-hover table-bordered">
		<thead class="thead-dark">
    <tr>
      <th>Photo Type</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @photo_types.each do |photo_type| %>
      <tr>
        <td><%= photo_type.photo_type %></td>
        <td><%= link_to 'Show', photo_type, class: 'btn btn-primary btn-block' %></td>
        <td><%= link_to 'Edit', edit_photo_type_path(photo_type), class: 'btn btn-warning btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
