<%= form_for @user, :url => url_for(:controller => 'users', :action => 'update_password') do |form| %>
<% if user.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
        <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class = "user-content">
<div class="row">
  <div class="form-group field col-12">
    <%= form.label :employee_id, 'Employee:', class: 'name-label' %>
    <%= form.label :employee_id, @user.employee.emp_first_name + ' ' + @user.employee.emp_last_name, class:'name' %>
  </div>
  </div>

  <div class="field">
    <%= form.label :email, 'Email:', class: 'name-label' %>
    <%= form.label :email, @user.email, class: 'name' %><br/>
  </div>
    <hr>
    
  <div class="form-group">
    <%= form.label :password, "Password *" %> 
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password", class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, "Confirm Password *" %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>
  

  <div class="form-row">
       <div class=" form-group col-12">
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
     <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
    </div>
    </div>

  </div>

<% end %>
