<%= form_with(model: user, local: true) do |form| %>

<div class = "content">
<% if user.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
        <% user.errors.full_messages.each do |message| %>
        <li>• <%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>


<div class="form-group">
    <%= form.label :admin, "Administrator *" %>
    <%= form.select :admin, ['true', 'false'], selected: 'false', class: 'form-control'  %>
  </div>

  <div class="row">
  <div class="form-group field col-12">
    <%= form.label :employee_id, 'Employee *' %>
    <div class= "block"><%= form.collection_select :employee_id, Employee.active_employees, :id, :employee_full_name, prompt: "- Select Employee -" %></div>
  </div>
  </div>

  <div class="form-group">
    <%= form.label :email, "Email *" %>
    <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password, "Password *" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= form.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation, "Confirm Password *" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-row">
       <div class=" form-group col-12">
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
     <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
    </div>
    </div>
    </div>


<% end %>
