<br>
<div class="container">
    <div class="row">
        <div class="col-11">

                <p id="notice"><%= notice %></p>
                <br>
                <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-lg btn-danger float-right mr-2' %>
                <%= link_to 'Edit User', edit_user_path(@user), class:'btn btn-warning btn-lg float-right mr-2' %>
                <%= link_to 'Change Password', edit_password_path(@user), class:'btn btn-secondary btn-lg float-right mr-2' %>
                <%= link_to 'All Users', users_path, class: 'btn btn-info btn-lg float-right mr-2'%>

            <h1> User Profile</h1> 
            <hr>

            <p>
            <strong>Employee: </strong>
            <%=@user.employee.emp_first_name%> <%=@user.employee.emp_last_name%>
            </p>

             <p>
            <strong>Employee Status: </strong>
            <%=@user.employee.employee_status.status%>
            </p>

            <p>
                <strong>Email:</strong>
                <%= @user.email %>
            </p>

            <p>
                <strong>Admin:</strong>
                <%= @user.admin %>
            </p>

            <p>
                <strong>Date Created:</strong>
                <%= @user.created_at.strftime("%m-%d-%Y %I:%M%p") %>
            </p>

            <p>
                <strong>Last Update:</strong>
                <%= @user.updated_at.strftime("%m-%d-%Y %I:%M%p") %>
            </p>

        </div>
    </div>
</div>