<p id="notice"><%= notice %></p>

<p>
  <strong>State name:</strong>
  <%= @state.state_name %>
</p>

<p>
  <strong>State abbreviation:</strong>
  <%= @state.state_abbreviation %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
