
<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




 <div id="form" >
 <br>
<h1>New Customer</h1>
<br>
 <div class="field">
    <%= form.hidden_field :customer_status_id, value: 1%>
  </div>
  <form>
  <div class="form-row">
   <div class="field form-group col-md-4">
    <%= form.label :date_obtained, 'Date Obtained' %>
    <%= form.date_select :date_obtained %>
  </div>
  </div>

<div class="form-row">
  <div class="field form-group col-md-2">
    <%= form.label :customer_first_name, 'First Name' %>
    <%= form.text_field :customer_first_name, class: 'form-control'  %>
  </div>

  <div class="field form-group col-md-2">
    <%= form.label :customer_last_name, 'Last Name' %>
    <%= form.text_field :customer_last_name, class: 'form-control'  %>
  </div>
  </div>

<div class="form-row">
   <div class="field form-group col-md-2">
    <%= form.label :customer_address, 'Address' %>
    <%= form.text_field :customer_address, class: 'form-control' %>
  </div>

  <div class="field form-group col-md-2">
    <%= form.label :state_id, 'State' %>
    <br>
    <%= form.collection_select :state_id, State.all, :id, :state_name %>
  </div>
  </div>

  <div class="form-row">
    <div class="field form-group col-md-2">
      <%= form.label :customer_city, 'City' %>
      <%= form.text_field :customer_city, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-2">
      <%= form.label :customer_zip, 'Zip Code' %>
      <%= form.text_field :customer_zip, class: 'form-control' %>
    </div>
  </div>

<div class="form-row">
  <div class="field form-group col-md-2">
    <%= form.label :customer_primary_phone, 'Primary Phone' %>
    <%= form.text_field :customer_primary_phone, class: 'form-control' %>
  </div>

  <div class="field form-group col-md-2">
    <%= form.label :customer_secondary_phone, 'Secondary Phone' %>
    <%= form.text_field :customer_secondary_phone, class: 'form-control' %>
  </div>

  </div>

<div class="form-row">
  <div class="field form-group col-md-4">
    <%= form.label :customer_email, 'Email' %>
    <%= form.text_field :customer_email, class: 'form-control' %>
  </div>
  </div>


<div class="form-row">
  <div class="field form-group col-md-6">
    <%= form.label :customer_notes, 'Customer Notes' %>
    <%= form.text_area :customer_notes, class: 'form-control' %>
  </div>
</div>

  
<div class = "form-row">
  <div class="pets">
    <%= link_to_add_association 'Add Pet', form, :pets, class: 'btn btn-success btn-lg float-left mx-auto' %>
  </div>
</div>

</form>


  
  
  <br>
    <div id="buttons">
    <a class="btn btn-danger btn-lg " href="/grooming_appointments" role="button">Cancel</a>
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    <div>
  
  </div>
  

<% end %>



