<%= form_with(model: customer, local: true) do |form| %>
<% if customer.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

    <ul>
        <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="customer-content">
    <br>
    <h1>New Customer</h1>
    <hr>
    <br>
    <p><i>* Indicates Required Fields</i></p>
    <div class="field">
        <%= form.hidden_field :customer_status_id, value: 1%>
    </div>
        <div class="form-row">
            <div class="field form-group col-md-4">
                <%= form.label :date_obtained, 'Date Obtained *' %>
                <%= form.text_field :date_obtained, type: 'date', class: 'form-control col-md-8' %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-6">
                <%= form.label :customer_first_name, 'First Name *' %>
                <%= form.text_field :customer_first_name, class: 'form-control col-md-8'  %>
            </div>

            <div class="field form-group col-md-6">
                <%= form.label :customer_last_name, 'Last Name *' %>
                <%= form.text_field :customer_last_name, class: 'form-control col-md-8'  %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-6">
                <%= form.label :customer_address, 'Address' %>
                <%= form.text_field :customer_address, class: 'form-control col-md-8' %>
            </div>

            <div class="field form-group col-md-2">
                <%= form.label :state_id, 'State' %>
                <br>
                <%= form.collection_select :state_id, State.all, :id, :state_name %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-6">
                <%= form.label :customer_city, 'City' %>
                <%= form.text_field :customer_city, class: 'form-control col-md-8' %>
            </div>

            <div class="field form-group col-md-6">
                <%= form.label :customer_zip, 'Zip Code' %>
                <%= form.text_field :customer_zip, class: 'form-control col-md-8' %>
            </div>
        </div>

        <div class="form-row">
            <div class="field form-group col-md-6">
                <%= form.label :customer_primary_phone, 'Primary Phone *' %>
                <%= form.text_field :customer_primary_phone, class: 'form-control col-md-8' %>
            </div>

            <div class="field form-group col-md-6">
                <%= form.label :customer_secondary_phone, 'Secondary Phone' %>
                <%= form.text_field :customer_secondary_phone, class: 'form-control col-md-8' %>
            </div>

        </div>

        <div class="form-row">
            <div class="field form-group col-md-6">
                <%= form.label :customer_email, 'Email' %>
                <%= form.text_field :customer_email, class: 'form-control col-md-8' %>
            </div>
        </div>


        <div class="form-row">
            <div class="field form-group col-md-12">
                <%= form.label :customer_notes, 'Customer Notes' %>
                <%= form.text_area :customer_notes, class: 'form-control col-md-12' %>
            </div>
        </div>


        <hr>
        <h2> Pets </h2>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-12">
                <%= link_to_add_association 'Add Pet', form, :pets, class: 'btn btn-success btn-sm float-left mx-auto col-md-12' %>
            </div>
        </div>

    
    <br>
    <div class = "form-row">
        <div class="form-group col-md-12">
            <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
            <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
        </div>
    </div>

<% end %>
</div>