
<div class="nested-fields">
<br>
<h3>Pet</h3>
<br>


<div class="form-row">
        
</div>

  <div class="form-row">
        <div class="field form-group col-md-6">
            <%= f.label :pet_name, 'Pet Name *' %>
            <%= f.text_field :pet_name, class: 'form-control col-md-8' %>
        </div>

        <div class="field">
            <%= f.hidden_field :pet_status_id, value: 1 %>
       </div>

        <div class="field form-group col-md-6">
            <%= f.label :pet_breed, 'Breed *' %>
            <%= f.text_field :pet_breed, class: 'form-control col-md-8' %>
      </div>
    </div>

      <div class="form-row">
        <div class="field form-group col-md-6">
            <%= f.label :pet_color, 'Color *' %>
            <%= f.text_field :pet_color, class: 'form-control col-md-8' %>
        </div>

        <div class="field form-group col-md-6">
            <%= f.label :pet_weight, 'Weight *' %>
            <%= f.text_field :pet_weight, class: 'form-control col-md-8' %>
        </div>
    </div>

    <br>

    <div class="form-row col-md-12">
        <div class="field form-group col-md-4">
            <%= f.label :spayed_neutered, 'Spayed/Neutered *' %>
            <br>
            <%= f.select :spayed_neutered, ['Y', 'N'],prompt: "- Select -", class: 'form-control' %>
        </div>

        <div class="field form-group col-md-4">
            <%= f.label :pet_treat, 'Pet Treat *' %>
            <br>
            <%= f.select :pet_treat, ['Y', 'N'],prompt: "- Select -", class: 'form-control' %>
        </div>

        <div class="field form-group col-md-4">
            <%= f.label :pet_gender, 'Pet Gender *' %>
            <br>
            <%= f.select :pet_gender, ['M', 'F'],prompt: "- Select -", class: 'form-control' %>
        </div>
    </div>

    <br>
    
    <div class="form-row">
    <div class="field form-group col-md-6">
        <%= f.label :pet_birthdate, 'Pet Birthdate' %>
        <%= f.text_field :pet_birthdate, type: 'date', class: 'form-control col-md-8' %>
        <!--<%= f.date_select :pet_birthdate, :start_year=>2000, class: 'form-control' %>-->
    </div>
    </div>

    <div class="form-row">
        <div class="field form-group col-md-6">
            <%= f.label :vet_name, 'Vet Name' %>
            <%= f.text_field :vet_name, class: 'form-control col-md-8' %>
        </div>

        <div class="field form-group col-md-6">
            <%= f.label :vet_phone, 'Vet Phone' %>
            <%= f.text_field :vet_phone, class: 'form-control col-md-8' %>
        </div>
    </div>


    <div class="form-row">
        <div class="field form-group col-md-12">
            <%= f.label :pet_allergies, 'Pet Allergies' %>
            <%= f.text_area :pet_allergies, class: 'form-control' %>
        </div>

        
    </div>

    <div class="form-row">
        <div class="field form-group col-md-12">
            <%= f.label :pet_medical_issues, 'Medical Issues' %>
            <%= f.text_area :pet_medical_issues, class: 'form-control' %>
        </div>
    </div>

    <div class="form-row">
    <div class="field form-group col-md-12">
            <%= f.label :pet_notes, 'Pet Notes'%>
            <%= f.text_area :pet_notes, class: 'form-control' %>
        </div>
    </div>

    <div class = "form-row">
    <div class ="field form-group col-md-12">
    <%= link_to_remove_association "Remove Pet", f, class: 'btn btn-secondary btn-sm float-left mx-auto col-md-12' %> <br>
    </div>
    </div>
    <hr>

    <div class= "form-row col-md-12">
    <div id="pet_vaccinations">
    <div class="pet_vaccines">
        <%= link_to_add_association 'Add Vaccine', f, :pet_vaccinations, class: 'btn btn-info btn-sm float-left mx-auto col-md-12'%>
    </div>
    </div>
    </div>
    <hr>

</div>