<div class="nested-fields">

    <div class="field">
        <%= f.label :pet_name %>
        <%= f.text_field :pet_name %>
    </div>

     <div class="field">
        <%= f.label :pet_gender %>
        <%= f.text_field :pet_gender %>
    </div>

     <div class="field">
        <%= f.label :pet_birthdate %>
        <%= f.text_field :pet_birthdate %>
    </div>

     <div class="field">
        <%= f.label :pet_allergies %>
        <%= f.text_field :pet_allergies %>
    </div>

     <div class="field">
        <%= f.label :spayed_neutered %>
        <%= f.check_box :spayed_neutered %>
    </div>

     <div class="field">
        <%= f.label :pet_treat %>
        <%= f.text_field :pet_treat %>
    </div>

     <div class="field">
        <%= f.label :vet_name %>
        <%= f.text_field :vet_name %>
    </div>

     <div class="field">
        <%= f.label :vet_phone %>
        <%= f.text_field :vet_phone %>
    </div>

     <div class="field">
        <%= f.label :pet_medical_issues %>
        <%= f.text_field :pet_medical_issues %>
    </div>

    <div class="field">
        <%= f.label :pet_notes%>
        <%= f.text_field :pet_notes %>
    </div>

    <div class="field">
        <%= f.label :pet_color %>
        <%= f.text_field :pet_color %>
    </div>

    <div class="field">
        <%= f.label :pet_weight %>
        <%= f.text_field :pet_weight %>
    </div>

    <%= link_to_remove_association "Remove Pet", f %>
</div>