<p id="notice"><%= notice %></p>

<div class="container">
<br>
<h1>Customers</h1>
<br>
  <a class="btn btn-success float-right mt-4" href="customers/new" role="button" aria-pressed="true">New Customer</a>
	<table id="example" class="table table-hover table-bordered">
		<thead class="thead-dark">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Date Obtained</th>
      <th>City</th>
      <th>Status</th>
      <th>Show</th>
      <th>Edit</th>
		</thead>
		<tbody>
     <% @customers.each do |customer| %>
			<tr>
				<td><%= customer.customer_first_name %></td>
				<td><%= customer.customer_last_name %></td>
				<td><%= number_to_phone(customer.customer_primary_phone) %></td>
				<td><%= customer.date_obtained.to_formatted_s(:long) %></td>
        <td><%= customer.customer_city %></td>
        <td><%= customer.customer_status.status%></td>
        <td><a class="btn btn-primary btn-block"<%= link_to 'Show', customer %></td>
        <td><a class="btn btn-warning btn-block"<%= link_to 'Edit', edit_customer_path(customer) %></td>
			</tr>
       <% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>
<br>
