<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @customer.state.state_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @customer.customer_status.status %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @customer.customer_first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.customer_last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.customer_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.customer_city %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @customer.customer_zip %>
</p>

<p>
  <strong>Primary Phone:</strong>
  <%= @customer.customer_primary_phone %>
</p>

<p>
  <strong>Secondary Phone:</strong>
  <%= @customer.customer_secondary_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>Date Obtained:</strong>
  <%= @customer.date_obtained %>
</p>

<p>
  <strong>Customer Notes:</strong>
  <%= @customer.customer_notes %>
</p>

<%= link_to "Add Pet", 
new_pet_path({:id => @customer.id, :customer_first_name => @customer.customer_first_name}), 
:class => "btn btn-primary" %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<h1>Pets</h1>

<div class="container">
	<table id="example" class="table table-striped table-bordered" style="width: 1000px;">
		<thead>
      <th>Name</th>
      <th>Gender</th>
      <th>Color</th>
      <th>Breed</th>
      <th>Weight</th>
      <th>Show</th>
      <th>Edit</th>
		</thead>
		<tbody>
     <% @customer.pets.each do |pet| %>
			<tr>
				<td><%= pet.pet_name %></td>
        <td><%= pet.pet_gender %></td>
        <td><%= pet.pet_color %></td>
        <td><%= pet.pet_breed %></td>
        <td><%= pet.pet_weight %></td>  
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
			</tr>
       <% end %>
		</tbody>
	</table>
</div>

  
  
 

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>
<br>




