<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @customer.state.state_name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @customer.customer_first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.customer_last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.customer_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.customer_city %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @customer.customer_zip %>
</p>

<p>
  <strong>Primary Phone:</strong>
  <%= @customer.customer_primary_phone %>
</p>

<p>
  <strong>Secondary Phone:</strong>
  <%= @customer.customer_secondary_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.customer_email %>
</p>

<p>
  <strong>Date Obtained:</strong>
  <%= @customer.date_obtained %>
</p>

<p>
  <strong>Customer Notes:</strong>
  <%= @customer.customer_notes %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
