<%= form_with(model: vaccine, local: true) do |form| %>
  <% if vaccine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaccine.errors.count, "error") %> prohibited this vaccine from being saved:</h2>

      <ul>
        <% vaccine.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="form">
  <br>
  <h1>Edit Vaccine</h1>
  <br>
  <div class="form-row">
    <div class="field form-group col-md-2">
      <%= form.label :vaccine_name, 'Vaccine Name' %> <span class= 'required'> *</span>
      <%= form.text_field :vaccine_name, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-1">
      <%= form.label :vaccine_required, 'Vaccine Required' %> <span class= 'required'> *</span>
      <%= form.select :vaccine_required, ['Y', 'N'] %>
    </div>
  </div>

  <div class="form-row">
    <div class="field form-group col-md-3">
      <%= form.label :vaccine_description, 'Vaccine Description' %>
      <%= form.text_area :vaccine_description, class: 'form-control' %>
    </div>
  </div>

  <br>
  <div class="form-row">
    <div class="field form-group col-md-6">
      <div id="buttons">
          <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
          <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
      </div>
    </div>
  </div>
</div>
<% end %>