<%= form_with(model: vaccine, local: true) do |form| %>
  <% if vaccine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaccine.errors.count, "error") %> prohibited this vaccine from being saved:</h2>

      <ul>
        <% vaccine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vaccine_name, 'Vaccine Name' %>
    <%= form.text_field :vaccine_name %>
  </div>

  <div class="field">
    <%= form.label :vaccine_description, 'Vaccine Description' %>
    <%= form.text_field :vaccine_description %>
  </div>

  <div class="field">
    <%= form.label :vaccine_required, 'Vaccine Required' %>
    <%= form.select :vaccine_required, ['Y', 'N'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
