<p id="notice"><%= notice %></p>

<h1>Vaccines</h1>

<table>
  <thead>
    <tr>
      <th>Vaccine Name</th>
      <th>Vaccine Description</th>
      <th>Vaccine Required</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vaccines.each do |vaccine| %>
      <tr>
        <td><%= vaccine.vaccine_name %></td>
        <td><%= vaccine.vaccine_description %></td>
        <td><%= vaccine.vaccine_required %></td>
        <td><%= link_to 'Show', vaccine %></td>
        <td><%= link_to 'Edit', edit_vaccine_path(vaccine) %></td>
        <td><%= link_to 'Delete', vaccine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vaccine', new_vaccine_path %>
