<p id="notice"><%= notice %></p>

<p>
  <strong>Vaccine Name:</strong>
  <%= @vaccine.vaccine_name %>
</p>

<p>
  <strong>Vaccine Description:</strong>
  <%= @vaccine.vaccine_description %>
</p>

<p>
  <strong>Vaccine Required:</strong>
  <%= @vaccine.vaccine_required %>
</p>

<%= link_to 'Edit', edit_vaccine_path(@vaccine) %> |
<%= link_to 'Back', vaccines_path %>
