<br>
<div class="container">
  <div class="row">
    <div class="col-11">

    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <br>

          <%= link_to 'Edit', edit_vaccine_path(@vaccine), class:'btn btn-warning btn-lg float-right mr-2' %>
          <%= link_to 'Back', vaccines_path, class: 'btn btn-danger btn-lg float-right mr-2'%>

      <h1>Vaccine</h1>
      <hr>

      <div class="field form-group col-md-5">
        <p>
          <strong>Vaccine Name:</strong>
          <%= @vaccine.vaccine_name %>
        </p>
      </div>
      <div class="field form-group col-md-8">
        <p>
          <strong>Vaccine Description:</strong>
          <%= @vaccine.vaccine_description %>
        </p>
      </div>

      <div class="field form-group col-md-5">
        <p>
          <strong>Vaccine Required:</strong>
          <%= @vaccine.vaccine_required.upcase %>
        </p>
      </div>
    </div>
  </div>
</div>