<p id="notice"><%= notice %></p>

<p>
  <strong>Style Name:</strong>
  <%= @style.style_name %>
</p>

<p>
  <strong>Style Description:</strong>
  <%= @style.style_description %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
