<br>
<div class="container">
  <div class="row">
    <div class="col-11">

     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <br>

      <p>
        <%= link_to 'Edit', edit_style_path(@style), class:'btn btn-warning btn-lg float-right mr-2' %>
        <%= link_to 'Back', styles_path, class: 'btn btn-danger btn-lg float-right mr-2'%>
      </p>

      <h1>Style</h1>
      <hr>
      <p>
        <strong>Style Name:</strong>
        <%= @style.style_name %>
      </p>

      <p>
        <strong>Style Description:</strong>
        <%= @style.style_description %>
      </p>
    </div>
  </div>
</div>