


 <div class="status-content">
  <br>
  <%= form_with(model: service_status, local: true) do |form| %>
  <% if service_status.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(service_status.errors.count, "error") %> prohibited this service status from being saved:</h4>

      <ul>
        <% service_status.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>New Service Status</h1>
  <i>* Indicates required fields</i>
  <hr>
  <div class="form-row">
  <div class ="field form-group col-md-12">
    <%= form.label :service_status, 'Service Status *' %>
    <%= form.text_field :service_status, class: 'form-control' %>
  </div>
 </div>
<br>
  <div class="form-row">
  <div class="field form-group col-md-12">
      <%= link_to 'Cancel', service_statuses_path, class: 'btn btn-danger btn-lg float-left'%>
      <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
  </div>
</div>
<% end %>