<%= form_with(model: service_status, local: true) do |form| %>
  <% if service_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_status.errors.count, "error") %> prohibited this service_status from being saved:</h2>

      <ul>
        <% service_status.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="container" id="form">

<form>
  <div class="form-row">
    <div class="field form-group col-md-4">
    <%= form.label :service_status, 'Service Status' %>
    <%= form.text_field :service_status, class: 'form-control' %>
  </div>
  </div>

  <br>

<div class="form-row">
 <div class="actions col-md-4">
 <a class="btn btn-danger btn-lg float-left" href="/service_statuses" role="button">Cancel</a>
    <button type="submit" class="btn btn-primary btn-lg float-right">Submit</button>
  </div>
  </div>

 </form>
  </div>
<% end %>