<%= form_with(model: pet_vaccination, local: true) do |form| %>


<div class="pet-vaccination-content">
<br>
 <% if pet_vaccination.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(pet_vaccination.errors.count, "error") %> prohibited this pet vaccination from being saved:</h4>

      <ul>
        <% pet_vaccination.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h1>Edit Pet Vaccination</h1>
<i>Specify date given AND duration, or any combination with date expire</i>
<hr>

<div class="form-row">
<div class="field">
  <%= form.label :pet_id, 'Pet: ', class: 'name-label' %>
  <%= form.hidden_field :pet_id, :value => @pet_vaccination.pet.id %>
  <%= form.label :pet_name, :value => @pet_vaccination.pet.pet_name, class: 'name'%>
</div>
</div>

<br>

  <div class="form-row">
  <div class="field">
    <%= form.label :vaccine_id, 'Vaccine *' %>
    <%= form.collection_select :vaccine_id, Vaccine.all, :id, :vaccine_name %>
  </div>
  </div>

  <br>

  <div class="form-row">
  <div class="field">
    <%= form.label :date_given, 'Date Given' %>
     <%= form.text_field :date_given, type: 'date', class: 'form-control col-md-12' %>
  </div>
  </div>

  <br>

  <div class="form-row">
  <div class="field">
    <%= form.label :duration, 'Duration (Years)' %>
    <%= form.select :duration, ['0.5', '1.0', '2.0', '3.0', '4.0', '5.0'],prompt: "- Select Duration -", include_blank: true,  class: 'form-control' %>

  </div>
  </div>
  <br>

  <div class="form-row">
  <div class="field">
    <%= form.label :date_expire, 'Expiration Date' %>
     <%= form.text_field :date_expire, type: 'date', class: 'form-control col-md-12' %>
  </div>
  </div>

  <br>
  <div class="form-row">
       <div class="col-12">
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
     <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
  </div>
    </div>
</div>
<% end %>