<p id="notice"><%= notice %></p>

<p>
  <strong>Vaccine:</strong>
  <%= @pet_vaccination.vaccine.vaccine_name %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @pet_vaccination.pet.pet_name %>
</p>

<p>
  <strong>Date Given:</strong>
  <%= @pet_vaccination.date_given %>
</p>

<p>
  <strong>Date Expire:</strong>
  <%= @pet_vaccination.date_expire %>
</p>

<%= link_to 'Edit', edit_pet_vaccination_path(@pet_vaccination) %> |
<%= link_to 'Back', pet_vaccinations_path %>
