<%= form_with(model: payment_type, local: true) do |form| %>
  <% if payment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_type.errors.count, "error") %> prohibited this payment_type from being saved:</h2>

      <ul>
        <% payment_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div id="form">
  <br>
  <h1>New Payment Type</h1>
  <br>
  <div class="form-row">
  <div class ="field form-group col-md-2">
    <%= form.label :payment_type, 'Payment Type' %>
    <%= form.text_field :payment_type, class: 'form-control' %>
  </div>
  </div>

  <div class="form-row">
  <div class="field form-group col-md-8">
    <div id="buttons">
      <%= link_to 'Cancel', payment_types_path, class: 'btn btn-danger btn-lg float-left'%>
      <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    </div>
  </div>
</div>
<% end %>


