<%= form_with(model: payment_type, local: true) do |form| %>
 
<div class="status-content">
  <br>
   <% if payment_type.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(payment_type.errors.count, "error") %> prohibited this payment type from being saved:</h4>
      <ul>
        <% payment_type.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1>New Payment Type</h1>
  <i>* Indicates Required Fields</i>
  <hr>
  <div class="form-row">
  <div class ="field form-group col-md-12">
    <%= form.label :payment_type, 'Payment Type *' %>
    <%= form.text_field :payment_type, class: 'form-control' %>
  </div>
  </div>
  <div class="form-row">
  <div class ="field form-group col-md-12">
    <%= form.label :definition, 'Description' %>
    <%= form.text_field :definition, class: 'form-control' %>
  </div>
  </div>
  <br>
  <div class="form-row">
  <div class="field form-group col-md-12">
      <%= link_to 'Cancel', payment_types_path, class: 'btn btn-danger btn-lg float-left'%>
      <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
  </div>
</div>
<% end %>


