<p id="notice"><%= notice %></p>

<div class="container">
  <br>
  <h1>Payment Types</h1>
  <br>
  <a class="btn btn-success float-right mt-4" href="payment_types/new" role="button" aria-pressed="true">New Payment Type</a>
  <table id="example" class="table table-hover table-bordered">
    <thead class="thead-dark">
      <th>Payment Type</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
    </thead>

    <tbody>
      <% @payment_types.each do |pt| %>
        <tr>
          <td><%= pt.payment_type %></td>
          <td><%= pt.definition%>
          <td><%= link_to 'Show', pt, class: 'btn btn-info btn-block' %></td>
          <td><%= link_to 'Edit', edit_payment_type_path(pt), class: 'btn btn-warning btn-block' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>

<script type="text/javascript">
    var dataTable = $('#example').DataTable();

    $(document).ready(function() {
        dataTable;
    });

    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });
</script>

