<%= form_with(model: grooming_service, local: true) do |form| %>
  <% if grooming_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grooming_service.errors.count, "error") %> prohibited this grooming_service from being saved:</h2>

      <ul>
        <% grooming_service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "grooming-service-content">
<br>
<h1> New Grooming Service</h1>
<p><i>* Indicates Required Fields</i></p>
<hr>
  <div class="field">
 <%= form.hidden_field :grooming_appointment_id, value: @grooming_service.grooming_appointment_id%>
</div>

<div class = "row">
  <div class="field col-12">
    <%= form.label :service_id, 'Service Name *' %>
    <br>
    <%= form.collection_select :service_id, Service.all, :id, :service_name %>
  </div>
</div>

<div class="row">
  <div class="field col-12">
    <%= form.label :employee_id, 'Employee' %>
    <br>
    <%= form.collection_select :employee_id, Employee.all, :id, :employee_full_name %>
  </div>
</div>

<div class="row">
  <div class="field col-6">
    <%= form.label :service_amount, 'Service Amount *' %>
    <%= form.number_field :service_amount, class: 'form-control' %>
  </div>
</div>

<div class = "row">
  <div class="field col-12">
    <%= form.label :service_amount_notes, 'Service Amount Notes' %>
    <%= form.text_area :service_amount_notes, rows: '4', class:'form-control' %>
  </div>
</div>
<br>
<div class = "row">
  <div class="col-12">
   <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
  </div>
</div>
<% end %>
</div>
