<%= form_with(model: grooming_service, local: true) do |form| %>

<div class = "grooming-service-content">
<br>
 <% if grooming_service.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(grooming_service.errors.count, "error") %> prohibited this grooming service from being saved:</h4>

      <ul>
        <% grooming_service.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1> New Grooming Service</h1>
<p><i>* Indicates Required Fields</i></p>
<hr>
  <div class="field">
  <%= form.hidden_field :grooming_appointment_id, value: @grooming_appointment_id %>
</div>

<div class = "row">
  <div class=" form-group field col-12">
    <%= form.label :service_id, 'Service Name *' %>
    <br>
    <%= form.collection_select :service_id, Service.active_services, :id, :service_name, prompt: "- Select Service -" %>
  </div>
</div>

<div class="row">
  <div class="form-group field col-12">
    <%= form.label :employee_id, 'Employee' %>
    <br>
    <%= form.collection_select :employee_id, Employee.active_employees, :id, :employee_full_name, prompt: "- Select Employee -" %>
  </div>
</div>

<div class="row">
  <div class=" form-group field col-6">
    <%= form.label :service_amount, 'Service Amount *' %>
    <%= form.number_field :service_amount,:step => "0.01", class: 'form-control' %>
  </div>
</div>

<div class = "row">
  <div class="form-group col-12">
    <%= form.label :service_amount_notes, 'Service Amount Notes' %>
    <%= form.text_area :service_amount_notes, rows: '4', class:'form-control' %>
  </div>
</div>
<br>
<div class = "row">
  <div class="form-group col-12">
   <%= link_to 'Cancel', session[:prev_url], class: 'btn btn-danger btn-lg float-left'%>
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
  </div>
</div>
<% end %>
</div>
