<p id="notice"><%= notice %></p>

<h1>Grooming Services</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Grooming Appointment</th>
      <th>Service Amount</th>
      <th>Service Amount Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grooming_services.each do |grooming_service| %>
      <tr>
        <td><%= grooming_service.service.service_name %></td>
        <td><%= grooming_service.grooming_appointment.appt_date %></td>
        <td><%= grooming_service.service_amount %></td>
        <td><%= grooming_service.service_amount_notes %></td>
        <td><%= link_to 'Show', grooming_service %></td>
        <td><%= link_to 'Edit', edit_grooming_service_path(grooming_service) %></td>
        <td><%= link_to 'Delete', grooming_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grooming Service', new_grooming_service_path %>
