<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @grooming_service.service.service_name %>
</p>

<p>
  <strong>Grooming Appointment:</strong>
  <%= @grooming_service.grooming_appointment.appt_date %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @grooming_service.employee.emp_first_name %>
</p>

<p>
  <strong>Service Amount:</strong>
  <%= @grooming_service.service_amount %>
</p>

<p>
  <strong>Service Amount Notes:</strong>
  <%= @grooming_service.service_amount_notes %>
</p>

<%= link_to 'Edit', edit_grooming_service_path(@grooming_service) %> |
<%= link_to 'Back', grooming_services_path %>
