

<div class="container">
  <div class="row">
    <div class="col-11">

      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
        <br>
        <%= link_to 'Edit', edit_employee_status_path(@employee_status), class:'btn btn-warning btn-lg float-right mr-2' %>
        <%= link_to 'Back', employee_statuses_path, class: 'btn btn-danger btn-lg float-right mr-2'%>

      <h1>Employee Status</h1>
      <hr>
      <p>
        <strong>Status:</strong>
        <%= @employee_status.status %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @employee_status.definition %>
      </p>
    </div>
  </div>
</div>