<%= form_with(model: grooming_appointment, local: true) do |form| %>
  <% if grooming_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grooming_appointment.errors.count, "error") %> prohibited this grooming_appointment from being saved:</h2>

      <ul>
        <% grooming_appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id, 'Customer: ' %>
    <%= form.hidden_field grooming_appointment.pet.customer.id %>
    <%= form.label grooming_appointment.pet.customer.customer_first_name%>
    <%= form.label grooming_appointment.pet.customer.customer_last_name%>
  <!--<%= form.select :customer_id, options_from_collection_for_select( Customer.order(:customer_first_name).all, "id", "customer_first_name", params[:id]), disabled: true %>-->
  </div>

  <div class="field">
    <%= form.label :pet_id, 'Pet: ' %>
    <%= form.hidden_field grooming_appointment.pet.id %>
    <%= form.label grooming_appointment.pet.pet_name%>
  <!--<%= form.select :customer_id, options_from_collection_for_select( Customer.order(:customer_first_name).all, "id", "customer_first_name", params[:id]), disabled: true %>-->
  </div>


  <div class="form-row">
  <div class=" form-group field col-md-3">
    <%= form.label :store_id %>
    <%= form.collection_select :store_id, Store.all, :id, :store_address, class: 'form-control' %>
  </div>
  </div>


  <div class="form-row">
  <div class="form-group field col-md-4">
    <%= form.label :appt_date, 'Appt Date' %>
    <br>
     <%= form.datetime_select :appt_date, class: 'form-control' %>
  </div>
  </div>

  <div class="form-row">
  <div class="form-group field col-md-3">
    <%= form.label :appt_blades, 'Blades' %>
    <%= form.text_field :appt_blades, class: 'form-control' %>
  </div>
  </div>


  <div class="form-row">
  <div class="form-group field col-md-2">
    <%= form.label :vac_current, 'Vaccine Current' %>
    <br>
    <%= form.select :vac_current, ['Y', 'N', 'U'] %>
  </div>
  

  <div class="form-group field col-md-4">
    <%= form.label :vac_current_date, 'Vaccine Date' %>
    <br>
    <%= form.text_field :vac_current_date, type: 'date', class: 'form-control' %>
  </div>
  </div>

   <div class="form-row">
  <div class=" form-group field col-md-2">
    <%= form.label :appt_total, 'Total' %>
    <%= form.text_field :appt_total, class: 'form-control' %>
  </div>

   <div class="form-group field">
    <%= form.label :payment_type_id, 'Payment Type' %>
    <br>
    <%= form.collection_select :payment_type_id, PaymentType.all, :id, :payment_type %>
  </div>
  </div>

<h2>Services</h2>
    <div id="grooming_services">
        <%= form.fields_for :grooming_services do |grooming_service| %>
          <%= render "grooming_service_fields", f: grooming_service %>
        <% end %> 
    </div>

 <div class="form-row">
  <div class="grooming_service form-group">
    <br>
      <%= link_to_add_association 'Add Service', form, :grooming_services, class: 'btn btn-success btn-lg float-left mx-auto' %>
  <br>
   <br>
  </div>
  </div>


  <h2>Styles</h2>
  <div id="grooming_styles">
      <%= form.fields_for :grooming_styles do |grooming_style| %>
        <%= render "grooming_style_fields", f: grooming_style %>
      <% end %> 
  </div>

 <div class="form-row">
  <div class="grooming_style form-group">
      <%= link_to_add_association 'Add Style', form, :grooming_styles, class: 'btn btn-success btn-lg float-left mx-auto' %>
  </div>
</div>

  <div class="form-row">
  <div class="form-group field col-md-6">
   <br> 
    <%= form.label :appt_notes, 'Appt Notes' %>
    <%= form.text_area :appt_notes, class: 'form-control' %>
  </div>
  </div>

  <div class="form-row">
  <div class="form-group field col-md-6">
    <%= form.label :customer_feedback, 'Customer Feedback' %>
    <%= form.text_area :customer_feedback, class: 'form-control' %>
  </div>
  </div>

<!-- Photos in edit form -->
<!--
 <br>
 <h2>Upload Before Photo</h2>
<div class="form-row">
<div id="pet_photos">
      <%= form.fields_for :pet_photos do |pet_photo| %>
        <%= render "before_pet_photo_fields", f: pet_photo %>
      <% end %> 
  </div>
</div>

<br>
<h2>Upload After Photo</h2>
<div class="form-row">
<%= form.fields_for :pet_photos do |builder| %>
  <%= render "after_pet_photo_fields", :f => builder %>
<% end %>
</div>
-->


 <div class="actions">
    <button type="submit" class="btn btn-primary btn-lg float-right ">Submit</button>
    <%= link_to 'Cancel', :back, class: 'btn btn-danger btn-lg float-left'%>
  </div>

<% end %>
