<div class="nested-fields col-12">
<br>
 <h2>Add Style</h2>


<div class="form-row">
    <div class="field form-group col-md-12">
        <%= f.label :style_id, 'Style' %>
        <br>
        <%= f.collection_select :style_id, Style.all, :id, :style_name %>
    </div>
</div>

<div class="form-row">
  <div class="field form-group col-md-12">
  <%= f.label :groom_style_notes, 'Groom Style Notes' %>
    <%= f.text_area :groom_style_notes, class: 'form-control' %>
  </div>
</div>

    <%= link_to_remove_association "Remove Style", f, class: 'btn btn-secondary btn-sm float-left mx-auto' %>
     <br>
     <br>
     <hr/>
</div>


