<div class="nested-fields col-12">
<br>

  <hr/>

 <h3>Service</h3>

<div class="form-row">
        <div class="field form-group col-md-6">
            <%= f.label :service_id, 'Service Name *' %>
            <br>
            <%= f.collection_select :service_id, Service.active_services, :id, :service_name, prompt: "- Select Service -" %>
        </div>


  <div class="field form-group col-md-6">
    <%= f.label :employee_id, 'Employee' %>
    <br>
    <%= f.collection_select :employee_id, Employee.active_employees, :id, :employee_full_name , prompt: "- Select Employee-"%>
  </div>
</div>

<div class="form-row">
  <div class="field form-group col-md-4">
    <%= f.label :service_amount, 'Service Amount *' %>
    <%= f.number_field :service_amount,:step => "0.01",class: 'form-control'  %>
  </div>
  </div>

<div class="form-row">
  <div class="field form-group col-md-12">
    <%= f.label :service_amount_notes, 'Service Amount Notes' %>
    <%= f.text_area :service_amount_notes, class: 'form-control'  %>
  </div>
</div>

<div class="form-row">
  <div class="field form-group col-md-12">
    <%= link_to_remove_association "Remove Service", f, class: 'btn btn-secondary btn-sm btn-block float-left mx-auto' %>
    </div>
  </div>
</div>