<p id="notice"><%= notice %></p>

<h1>Grooming Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Pet Name</th>
      <th>Store</th>
      <th>Payment Type</th>
      <th>Appt Date</th>
      <th>Blades</th>
      <th>Total</th>
      <th>Appt Notes</th>
      <th>Customer Feedback</th>
      <th>Vaccine Current</th>
      <th>Vaccine Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grooming_appointments.each do |grooming_appointment| %>
      <tr>
        <td><%= grooming_appointment.pet.pet_name %></td>
        <td><%= grooming_appointment.store.store_address %></td>
        <td><%= grooming_appointment.payment_type.payment_type %></td>
        <td><%= grooming_appointment.appt_date %></td>
        <td><%= grooming_appointment.appt_blades %></td>
        <td><%= grooming_appointment.appt_total %></td>
        <td><%= grooming_appointment.appt_notes %></td>
        <td><%= grooming_appointment.customer_feedback %></td>
        <td><%= grooming_appointment.vac_current %></td>
        <td><%= grooming_appointment.vac_current_date %></td>
        <td><%= link_to 'Show', grooming_appointment %></td>
        <td><%= link_to 'Edit', edit_grooming_appointment_path(grooming_appointment) %></td>
        <td><%= link_to 'Delete', grooming_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grooming Appointment', new_grooming_appointment_path %>
