<p id="notice"><%= notice %></p>

<div class="container">
<h1>Grooming Appointments</h1>
<a class="btn btn-success float-right mt-4" href="grooming_appointments/new" role="button" aria-pressed="true">New Appointment</a>

<table id="example" class="table table-hover table-bordered">
		<thead class="thead-dark">
    <tr>
      <th>Customer</th>
      <th>Pet Name</th>
      <th>Appt Date</th>
      <th>Services</th>
      <th>Store</th>
      <th>Total</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>
  </thead>


  <tbody>
    <% @grooming_appointments.each do |grooming_appointment| %>
    <%counter = 0%>
      <tr>
        <td><%= grooming_appointment.pet.customer.customer_first_name %>
        <%= grooming_appointment.pet.customer.customer_last_name %></td>
        <td><%= grooming_appointment.pet.pet_name %></td>
        <td><%= grooming_appointment.appt_date.to_formatted_s(:rfc822) %></td>
        <td><% grooming_appointment.grooming_services.each do |grooming_service| %>
        <% counter += 1%>
        <%= grooming_service.service.service_name%>
        <% if counter > 1%>
        ,
        <%end%>
        <%end%></td>
        <td><%= grooming_appointment.store.store_address %></td>
        <td><%= number_to_currency(grooming_appointment.appt_total) %></td>
        <td><%= link_to 'Show', grooming_appointment %></td>
        <td><%= link_to 'Edit', edit_grooming_appointment_path(grooming_appointment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>



<script type="text/javascript">
  var dataTable = $('#example').DataTable();

  $(document).ready(function() {
   dataTable;
  });
  
  document.addEventListener("turbolinks:before-cache", function() {
    if (dataTable !== null) {
    dataTable.destroy();  
    dataTable = null;
    }
  });
</script>