<p id="notice"><%= notice %></p>

<p>
  <strong>Pet:</strong>
  <%= @grooming_appointment.pet.pet_name %>
</p>

<p>
  <strong>Store:</strong>
  <%= @grooming_appointment.store.store_address %>
</p>

<p>
  <strong>Payment Type:</strong>
  <%= @grooming_appointment.payment_type.payment_type %>
</p>

<p>
  <strong>Appt Date:</strong>
  <%= @grooming_appointment.appt_date %>
</p>

<p>
  <strong>Appt Blades:</strong>
  <%= @grooming_appointment.appt_blades %>
</p>

<p>
  <strong>Total:</strong>
  <%= @grooming_appointment.appt_total %>
</p>

<p>
  <strong>Appt Notes:</strong>
  <%= @grooming_appointment.appt_notes %>
</p>

<p>
  <strong>Customer Feedback:</strong>
  <%= @grooming_appointment.customer_feedback %>
</p>

<p>
  <strong>Vac Current:</strong>
  <%= @grooming_appointment.vac_current %>
</p>

<p>
  <strong>Vac Current Date:</strong>
  <%= @grooming_appointment.vac_current_date %>
</p>

<%= link_to 'Edit', edit_grooming_appointment_path(@grooming_appointment) %> |
<%= link_to 'Back', grooming_appointments_path %>
