<p id="notice" class="success-notice"><%= notice %></p>

<div class="container">
<br>


<h1> Grooming Appointment Details </h1>
<hr>

<%= link_to 'Update', edit_grooming_appointment_path(@grooming_appointment), class:'btn btn-warning btn-lg float-right mr-2' %>
<%= link_to 'All Appointments', grooming_appointments_path, class: 'btn btn-danger btn-lg float-right mr-2'%>

<div class="row">
<div class="col-6">
<br>
<p>
  <strong>Customer:</strong>
  <%= @grooming_appointment.pet.customer.customer_first_name%>
  <%= @grooming_appointment.pet.customer.customer_last_name%>
</p>

<p>
  <strong>Pet:</strong>
  <%= @grooming_appointment.pet.pet_name %>
</p>


<p>
  <strong>Store:</strong>
  <%= @grooming_appointment.store.store_name %>
</p>

<p>
  <strong>Appointment Date:</strong>
  <%if @grooming_appointment.appt_date.nil?%>
  <%= @grooming_appointment.appt_date%>
  <%else%>
  <%= @grooming_appointment.appt_date.to_formatted_s(:long) %>
  <%end%> 
</p>

<p>
  <strong>Appointment Time:</strong>
  <%if @grooming_appointment.appt_time.nil?%>
  <%= @grooming_appointment.appt_time%>
  <%else%>
  <%= @grooming_appointment.appt_time.strftime("%I:%M%p")%>
  <%end%> 
</p>

<p>
  <strong>Blades:</strong>
  <%= @grooming_appointment.appt_blades %>
</p>

<p>
  <strong>Vaccine Current:</strong>
  <%= @grooming_appointment.vac_current %>
</p>

<p>
  <strong>Vaccine Current Date:</strong>
  <%if @grooming_appointment.vac_current_date.nil?%>
  <%= @grooming_appointment.vac_current_date%>
  <%else%>
  <%= @grooming_appointment.vac_current_date.to_formatted_s(:long) %>
  <%end%> 
</p>

<p>
<strong> Pet Notes: </strong>
<%=@grooming_appointment.pet.pet_notes%>
</p>

<p>
  <strong>Appt Notes:</strong>
  <%= @grooming_appointment.appt_notes %>
</p>

<p>
  <strong>Customer Feedback:</strong>
  <%= @grooming_appointment.customer_feedback %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@grooming_appointment.appt_total) %>
</p>

<p>
  <strong>Payment Type:</strong>
   <%if @grooming_appointment.payment_type.nil?%>
  <%else%>
  <%= @grooming_appointment.payment_type.payment_type %>
  <%end%> 
 
</p>
</div>

<div class="col-6">
<!-- this is where total and payment type were -->
</div>

</div>

<br>

<h2>Services</h2>
<hr>
<div class = "row">
<div class = "col-11">
<%= link_to "Add Service", 
new_grooming_service_path({:id => @grooming_appointment.id}), 
:class => "btn btn-success float-right mt-4", style: 'margin-bottom: 10px' %>



<table id="example" class="table table-striped table-bordered">
		<thead>
      <th>Service</th>
      <th>Amount</th>
      <th>Amount Notes</th>
      <th>Edit</th>
      <th>Remove</th>
		</thead>
		<tbody>
     <% @grooming_appointment.grooming_services.each do |grooming_service| %>
			<tr>
				<td><%= grooming_service.service.service_name %></td>
        <td><%= number_to_currency(grooming_service.service_amount)%></td>
        <td><%= grooming_service.service_amount_notes %></td>
        <td><%= link_to "Update", edit_grooming_service_path(grooming_service), 
        :class => "btn btn-warning btn-block" %></td>
        <td><%= link_to 'Delete', grooming_service, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger' %></td>
			</tr>
       <% end %>
		</tbody>
	</table>
  </div>
  </div>


<br>
  <h2>Styles</h2>
  <hr>
<div class = "row">
<div class = "col-11">
<%= link_to "Add Style", 
new_grooming_style_path({:id => @grooming_appointment.id}), 
:class => "btn btn-success float-right mt-4", style: 'margin-bottom: 10px' %>

  <table id="example" class="table table-striped table-bordered">
		<thead>
      <th>Style</th>
      <th>Grooming Style Notes</th>
      <th>Edit</th>
      <th>Remove</th>
		</thead>

		<tbody>
     <% @grooming_appointment.grooming_styles.each do |grooming_style| %>
			<tr>
				<td><%= grooming_style.style.style_name%></td>
        <td><%= grooming_style.groom_style_notes%></td>
        <td><%= link_to "Update", edit_grooming_style_path(grooming_style), 
        :class => "btn btn-warning btn-block" %></td>
        <td><%= link_to 'Delete', grooming_style, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger' %></td>
			</tr>
       <% end %>
		</tbody>
	</table>
  </div>
</div>

<br>
<h2>Incidents</h2>
<hr>
<div class = "row">
<div class = "col-11">
<%=link_to 'New Incident', new_incident_path({:pet_name=> @grooming_appointment.pet.pet_name,
                                            :pet_id => @grooming_appointment.pet.id,
                                            :grooming_appointment_id => @grooming_appointment.id,
                                            :appt_date => @grooming_appointment.appt_date.strftime("%b %d %Y"),
                                            :appt_time => @grooming_appointment.appt_time.strftime("%I:%M%p")}),
                                              class: 'btn btn-success float-right', style: 'margin-top:10px'%>
<table id="incidents" class="table table-striped table-bordered">
  <thead>
    <th>Grooming Appointment</th>
    <th>Incident Notes</th>
    <th>Incident Cost</th>
    <th>Update</th>
  </thead>

  <tbody>
    <% @grooming_appointment.incidents.each do |incident| %>
      <tr>
        <td><%= incident.grooming_appointment.appt_date %></td>
        <td><%= incident.incident_notes %></td>
        <td><%= incident.incident_cost %></td>
        <td><%= link_to "Update", edit_incident_path(incident), :class => "btn btn-warning btn-block" %></td>
        <!--<td><%= link_to 'Delete', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<script type="text/javascript">
        var dataTable = $('#incidents').DataTable();

        $(document).ready(function() {
            dataTable;
        });

        document.addEventListener("turbolinks:before-cache", function() {
            if (dataTable !== null) {
                dataTable.destroy();
                dataTable = null;
            }
        });
</script>
<!-- Styling for Photo Galleries-->
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

  div.center {
  padding: 15px;
  text-align: center;


</style>
<div class="container">
<br>
<h2>Before Photos</h2>
<hr>
<%=link_to 'New Before Photo', new_pet_photo_path({:photo_type_id => 2, 
                                            :customer_first_name => @grooming_appointment.pet.customer.customer_first_name,
                                            :customer_last_name => @grooming_appointment.pet.customer.customer_last_name,
                                            :pet_name=> @grooming_appointment.pet.pet_name,
                                            :pet_id => @grooming_appointment.pet.id,
                                            :grooming_appointment_id => @grooming_appointment.id}),
                                              class: 'btn btn-success', style: 'margin-top:10px'%>
  <div class="row">
  <%@grooming_appointment.pet_photos.each do |photo|%>
   <% if photo.photo_type_id == 2 && photo.image.attached? %>
   <div class="gallery">
    <%= image_tag photo.image.variant(resize:"400x400") if photo.image.attached? %>
    <div class="desc"><%=photo.photo_description%></div>
    <div class="center">
    <%= link_to 'Show', photo%> |
    <%= link_to 'Edit', edit_pet_photo_path(photo)%>
    </div>
    </div>
    <%end%>
  <%end%>
</div>
</div>

<div class="container">
<br>
<h2>After Photos</h2>
<hr>
<%=link_to 'New After Photo', new_pet_photo_path({:photo_type_id => 3, 
                                            :customer_first_name => @grooming_appointment.pet.customer.customer_first_name,
                                            :customer_last_name => @grooming_appointment.pet.customer.customer_last_name,
                                            :pet_name=> @grooming_appointment.pet.pet_name,
                                            :pet_id => @grooming_appointment.pet.id,
                                            :grooming_appointment_id => @grooming_appointment.id}),
                                              class: 'btn btn-success', style: 'margin-top:10px'%>
  <div class="row">
  <%@grooming_appointment.pet_photos.each do |photo|%>
   <% if photo.photo_type_id == 3 && photo.image.attached?%>
   <div class="gallery">
    <%= image_tag photo.image.variant(resize:"400x400") if photo.image.attached? %>
    <div class="desc"><%=photo.photo_description%></div>
    <div class="center">
    <%= link_to 'Show', photo%> |
    <%= link_to 'Edit', edit_pet_photo_path(photo)%>
    </div>
    </div>
    <%end%>
  <%end%>
</div>
</div>
