<div class="container">
    <br>
    <hr>
     <h2>Top 10 Customers with Most Appointments</h2>
     <p class="report-date">Date Created: <%=Date.today.to_formatted_s(:long)%></p>
     <hr>
    <table id="example" class="table table-striped table-bordered" style="width: 1000px;">
	<thead class="thead-dark">
      <th>Customer</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Total Appts</th>
      <th>Show Customer</th>
		</thead>
		<tbody>
     <% @customer_appointments.each do |customer_appointments| %>
		<tr>
         <td><%= customer_appointments.customer %></td>
         <td><%= customer_appointments.customer_primary_phone%>
        <td><%= customer_appointments.customer_email%>
         <td><%= customer_appointments.count%></td>
         <td width="150px;"><%= link_to 'Show', customer_path(customer_appointments.customer_id), class: 'btn btn-info btn-block' %></td>
       <% end %>
		</tbody>
	</table>
    <br>
    <hr>
    <br>
</div>
