
<div class="container">
<br>
<br>
<div class="row"> 
    <div class="col-lg-6 info-box">
        <h2>Customer Overview</h2>
        <p>
            Total Customers: <span class="text-primary"> <%= @customers.count %></span>
        </p>

    </div> 
    <div class="col-lg-6 info-box">
       
        <p>
        
        </p>
    </div>
</div>

<br>
<br>

<hr> 
<br>


<h2>Expired Vaccines</h2>
<table id="example" class="table table-striped table-bordered" style="width: 1000px;">
	<thead class="thead-dark">
      <th>Customer</th>
      <th>Pet</th>
      <th>Vaccine</th>
      <th>Date Expired</th>
		</thead>
		<tbody>
     <% @pet_vaccinations.each do |pet_vaccinations| %>
		<tr>
        <% if pet_vaccinations.date_expire.to_s.to_i < Date.today.to_s.to_i && pet_vaccinations.date_expire.present? %>
        <td><%= pet_vaccinations.pet.customer.customer_first_name %>
            <%= pet_vaccinations.pet.customer.customer_last_name %></td>
        <td><%= pet_vaccinations.pet.pet_name %></td>
		<td><%= pet_vaccinations.vaccine.vaccine_name %></td>
        <td><%= pet_vaccinations.date_expire.to_s %></td>
		</tr>
           <% end %> 
       <% end %>
		</tbody>
	</table>
   
    <br>
     <hr>
    <br>

    <h2>Vaccines Expiring in the Next Six Months</h2>
<table id="example" class="table table-striped table-bordered" style="width: 1000px;">
	<thead class="thead-dark">
      <th>Customer</th>
      <th>Pet</th>
      <th>Vaccine</th>
      <th>Date Expired</th>
		</thead>
		<tbody>
     <% @pet_vaccinations.each do |pet_vaccinations| %>
		<tr>
        <% if pet_vaccinations.date_expire.to_s.to_i.between?(Date.today.to_s.to_i, (Date.today.to_s.to_i + 0.5))%>
         <td><%= pet_vaccinations.pet.customer.customer_first_name %>
            <%= pet_vaccinations.pet.customer.customer_last_name %></td>
        <td><%= pet_vaccinations.pet.pet_name %></td>
		<td><%= pet_vaccinations.vaccine.vaccine_name %></td>
        <td><%= pet_vaccinations.date_expire.to_s %></td>
		</tr>
           <% end %> 
       <% end %>
		</tbody>
	</table>

   
    <br>
     <hr>
    <br>

</div>