<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main">
      <div id="header">
          <h2>Quick Nav</h2>
          <%= link_to 'Customers', customers_path %>
          <%= link_to 'Employees', employees_path %>
          <%= link_to 'Employee Stores', employee_stores_path %>
          <%= link_to 'Grooming Appointments', grooming_appointments_path %>
          <%= link_to 'Grooming Services', grooming_services_path %>
          <%= link_to 'Grooming Styles', grooming_styles_path %>
          <%= link_to 'Incidents', incidents_path %>
          <%= link_to 'Payment Types', payment_types_path %>
          <%= link_to 'Pet Photos', pet_photos_path %>
          <%= link_to 'Pet Vaccinations', pet_vaccinations_path %>
          <%= link_to 'Pets', pets_path %>
          <%= link_to 'Photo Types', photo_types_path %>
          <%= link_to 'Service Statuses', service_statuses_path %>
          <%= link_to 'Services', services_path %>
          <%= link_to 'States', states_path %>
          <%= link_to 'Stores', stores_path %>
          <%= link_to 'Styles', styles_path %>
          <%= link_to 'Vaccines', vaccines_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
