<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

<% if user_signed_in? %>
  <body>
  <div class = "user">
    <% if user_signed_in? %>
      Logged in as: <%= current_user.email %>
        <% if current_user.admin == true %>
          <%='(A)'%>
        <% end %>
    <% end %>
  </div>
  <div><%= link_to '<b>Logout</b>'.html_safe, destroy_user_session_path, method: :delete, 
            data: {confirm: "Are you sure you want to Log Out?"}, class: 'btn logout' %></div>

    <div class="col-md" id="logo">
      <a class="center" href="/"> <%= image_tag "logo.png", size: "80x75"%> </a>
    </div>
    <div id="navbar">
    <nav class="navbar navbar-expand-lg  sticky-top justify-content-center" >
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
        <div class="col-md">
        <li class="nav-item active" >
          <a class="nav-link"  id="nav-link-text"href="/customers">Customer</a>
        </li>
        </div>
        <div class="col-md">
        <li class="nav-item active">
          <a class="nav-link" href="/pets">Pet</a>
        </li>
        </div>
        <div class="col-md">
        <li class="nav-item active">
          <a class="nav-link" href="/grooming_appointments">Grooming</a>
        </li>
        </div>
        
        <% if current_user.admin == true %>
        <div class="col-md">
        <li class="nav-item active">
          <a class="nav-link" href="/employees">Employee</a>
        </li>
        </div>

        <div class="col-md">
        <li class="nav-item active">
          <a class="nav-link" href="/incidents">Incidents</a>
        </li>
        </div>
        
        <div class="col-md">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role = "button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Reports</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <form class="accordion" id="reportsAccordion">
        <div>
          <a class="dropdown-item" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" href="#">Sales Reports</a>
          <div id="collapseOne" class="collapse px-3" data-parent="#reportsAccordion">
             <a class="dropdown-item" href="/reports/most_profitable_service_report">Most Profitable Service</a>
             <a class="dropdown-item" href="/reports/lifetime_sales_per_store_report">Lifetime Sales per Store</a>
             <a class="dropdown-item" href="/reports/current_and_last_year_sales_per_month_report">Current Year and Last Year Sales per Month</a>
          </div>
        </div>
        <div>
          <a class="dropdown-item" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" href="#">Customer Reports</a>
          <div id="collapseTwo" class="collapse px-3" data-parent="#reportsAccordion">
             <a class="dropdown-item" href="/reports/customers_gained_report">Customers Gained</a>
             <a class="dropdown-item" href="/reports/most_profitable_customers">Most Profitable Customers</a>
             <a class="dropdown-item" href="/reports/customers_with_most_appointments_report">Customers with Most Appointments</a>
          </div>
        </div>
        <div>
          <a class="dropdown-item" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" href="#">Pet Reports</a>
          <div id="collapseThree" class="collapse px-3" data-parent="#reportsAccordion">
             <a class="dropdown-item" href="/reports/vaccines_expiring_report">Vaccines Expiring in Three Months</a>
             <a class="dropdown-item" href="/reports/pet_birthdays_report">Upcoming Pet Birthdays</a>
          </div>
          </form>
        </div>
          <a class="dropdown-item" href="#">Inactive Employees with User Accounts</a>
        </div>
          </li>
        </div>
        <div class="col-md">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role = "button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Manage</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/services">Manage Services</a>
          <a class="dropdown-item" href="/styles">Manage Styles</a>
          <a class="dropdown-item" href="/payment_types">Manage Payment Types</a>
          <a class="dropdown-item" href="/vaccines">Manage Vaccines</a>
          <a class="dropdown-item" href="/stores">Manage Stores</a>
          <a class="dropdown-item" href="/users">Manage Users</a>
        </div>
        </li>
        </div>
        <%end%>
        <!--<div class="col-md">
          <li class="nav-item active">
            <%= link_to '<b>Logout</b>'.html_safe, destroy_user_session_path, method: :delete, 
            data: {confirm: "Are you sure you want to Log Out?"}, class: 'nav-link' %>
          </li>
        </div>-->
        </ul>
      </div>
    </nav>
    </div>
    <div class="col-sm-12" id="valeriebar1"></div>
    <%end%>
    <%= yield %>
  </body>
</html>


